{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set handle = integration.handle %}
{% set displayName = integration.displayName() %}
{% set formSettings = integration.getFormSettings().getSettings() %}
{% set toNumber = form.settings.integrations[handle].toNumber ?? '' %}

{% set values = {
    message: form.settings.integrations[handle].message ?? '',
    toNumber: form.settings.integrations[handle].toNumber ?? '',
} | json_encode %}

<field-select
    label="{{ 'Opt-In Field' | t('formie') }}"
    instructions="{{ 'Choose a field to opt-in to {name}. For example, you might only wish to record user data if they provide a value for a field of your choice - commonly, an Agree field.' | t('formie', { name: displayName }) }}"
    id="opt-in-field"
    name="optInField"
    :value="get(form, 'settings.integrations.{{ handle }}.optInField')"
></field-select>

<hr>

<integration-form-settings handle="{{ handle }}" :form-settings="{{ formSettings | json_encode }}" :values="{{ values }}">
    <template v-slot="{ get, isEmpty, input, settings, sourceId, loading, refresh, error, errorMessage, getSourceFields, model }">
        <form-kit
            type="variableText"
            label="{{ 'To Number' | t('formie') }}"
            help="{{ 'The phone number to send the message to.' | t('formie', { name: displayName }) }}"
            v-model="model.toNumber" 
            :required="true"
            variables="plainTextVariables"
        ></form-kit>

        <input type="hidden" name="toNumber" :value="model.toNumber" />

        <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.toNumber'))" class="errors" v-cloak>
            <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.toNumber')" :key="index">
                ${ error }
            </li>
        </ul>

        <form-kit
            type="richText"
            label="{{ 'Message' | t('formie') }}"
            help="{{ 'This text will be sent to {name}.' | t('formie', { name: displayName }) }}"
            v-model="model.message"
            :required="true"
            variables="plainTextVariables"
            :buttons="['bold', 'italic', 'variableTag']"
        ></form-kit>

        <input type="hidden" name="message" :value="model.message" />
    </template>
</integration-form-settings>
