{% import '_includes/forms' as forms %}

{% extends 'formie/_formfields/field' %}

{% set minChars = (field.limit and field.maxType == 'characters' and field.min) ? field.min : null %}
{% set maxChars = (field.limit and field.maxType == 'characters' and field.max) ? field.max : null %}
{% set minWords = (field.limit and field.maxType == 'words' and field.min) ? field.min : null %}
{% set maxWords = (field.limit and field.maxType == 'words' and field.max) ? field.max : null %}
{% set allowOvertype = textLimitConfig.allowOvertype ?? false %}

{% block field %}
    {{ forms.text({
        name: name,
        value: value,
        required: field.required ? true : false,
        minlength: minChars,
        maxlength: allowOvertype ? null : maxChars,
        inputAttributes: {
            data: {
                'formie-single-line-text-input': true,
                'formie-min-chars': minChars,
                'formie-max-chars': maxChars,
                'formie-min-words': minWords,
                'formie-max-words': maxWords,
            } | filter,
        },
    }) }}

    {% if field.limit %}
        {% if maxChars %}
            <div class="fui-instructions fui-limit fui-limit-text" data-limit data-max-chars="{{ maxChars }}" data-formie-limit-text>
                <span class="fui-limit-number">{{ maxChars }}</span> {{ '{count, plural, one{character left} other{characters left}}' | t('formie', { count: maxChars }) }}
            </div>
        {% endif %}

        {% if maxWords %}
            <div class="fui-instructions fui-limit fui-limit-text" data-limit data-max-words="{{ maxWords }}" data-formie-limit-text>
                <span class="fui-limit-number">{{ maxWords }}</span> {{ '{count, plural, one{word left} other{words left}}' | t('formie', { count: maxWords }) }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
