{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Auth ID' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'authId',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.authId ?? '',
    warning: macros.configWarning('authId', 'formie'),
    errors: integration.getErrors('authId'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Auth Secret' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'authSecret',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.authSecret ?? '',
    warning: macros.configWarning('authSecret', 'formie'),
    errors: integration.getErrors('authSecret'),
}) }}

{% endblock %}
