{% set html %}
    {% set handle = attrs.handle %}
    {% set labelPosition = craft.formie.getLabelPosition(field, form, true) %}
    {% set inputId = handle | namespaceInputId(options.id) %}
    {% set placeholder = attribute(field, "#{handle}Placeholder") | t %}

    {% if handle == 'ampm' %}
        {% set selected = value %}
    {% else %}
        {% set selected = value ? (value | date(char) * 1) : null %}
    {% endif %}

    {% set labelPosition = craft.formie.getLabelPosition(field, form, true) %}
    {% set labelOptions = {
        field: null,
        id: inputId,
        required: field.required ? true : false,
        fieldName: attribute(field, "#{handle}Label") | t,
        labelPosition: labelPosition,
    } %}

    <div class="fui-input-container">
        {% hook 'formie.subfield.field-start' %}

        {{ formieInclude('_includes/label', labelOptions | merge({ position: 'above' })) }}

        {% hook 'formie.subfield.input-before' %}

        <div class="fui-input-container">
            {% hook 'formie.subfield.input-start' %}

            {% set attributes = {
                id: inputId,
                class: [ 'fui-select' ],
                name: char | namespaceInputName(field.handle),
                required: field.required ? true : false,
                data: {
                    'fui-message': field.settings.errorMessage | t,
                },
                aria: {
                    required: field.required ? 'true' : 'false',
                },
            } %}

            <select {{ attr(attributes) }}>
                <option value="" disabled {{- not selected ? ' selected' }}>{{ placeholder }}</option>

                {% if attrs.options is defined %}
                    {% for option in attrs.options %}
                        <option value="{{ option.value }}" {{- option.value == selected ? ' selected' }}>
                            {{ option.label | t }}
                        </option>
                    {% endfor %}
                {% else %}
                    {% for i in attrs.min..attrs.max %}
                        <option value="{{ i }}" {{- i is same as(selected) ? ' selected' }}>{{ i }}</option>
                    {% endfor %}
                {% endif %}
            </select>

            {% hook 'formie.subfield.input-end' %}
        </div>

        {% hook 'formie.subfield.input-after' %}

        {{ formieInclude('_includes/label', labelOptions | merge({ position: 'below' })) }}

        {% hook 'formie.subfield.field-end' %}
    </div>
{% endset %}

{% set attributes = {
    class: [
        'fui-field',
        'fui-select-field',
        'fui-date-field',
        "fui-date-#{handle | kebab}",
        "fui-label-#{labelPosition}",
        handle != 'ampm' ? 'fui-text-input-field' : 'fui-select-field',
    ],
    html: html,
} %}

{{ tag(options.renderOptions.fieldTag ?? 'div', attributes) }}
