{% set html %}
    {% set handle = attrs.handle %}
    {% set inputId = handle | namespaceInputId(options.id) %}
    {% set placeholder = attribute(field, handle ~ 'Placeholder') | t %}

    {% if handle == 'ampm' %}
        {% set selected = value %}
    {% else %}
        {% set selected = value ? (value | date(char) * 1) : null %}
    {% endif %}

    {% set labelPosition = craft.formie.getLabelPosition(field, form, true) %}
    {% set labelOptions = {
        field: null,
        id: inputId,
        required: field.required ? true : false,
        fieldName: attribute(field, handle ~ 'Label') | t,
        labelPosition: labelPosition,
    } %}

    {% hook 'formie.subfield.field-start' %}

    {{ formieInclude('_includes/label' with labelOptions | merge({
        position: 'above',
    })}) }}

    {% hook 'formie.subfield.input-before' %}

    <div class="fui-input-container">
        {% hook 'formie.subfield.input-start' %}

        {% switch handle %}
            {% case 'ampm' %}
                {% set attributes = {
                    id: inputId,
                    class: [ 'fui-select' ],
                    name: char | namespaceInputName(field.handle),
                    required: field.required ? true : false,
                    data: {
                        'fui-message': field.settings.errorMessage | t,
                    },
                    aria: {
                        required: field.required ? 'true' : 'false',
                    },
                } %}

                <select {{ attr(attributes) }}>
                    {% if placeholder %}
                        <option value="" disabled {{- not selected ? ' selected' }}>{{ placeholder }}</option>
                    {% endif %}

                    {% for option in attrs.options %}
                        <option value="{{ option.value }}" {{- option.value == selected ? ' selected' }}>
                            {{ option.label | t }}
                        </option>
                    {% endfor %}
                </select>
            {% default %}
                {% set attributes = {
                    id: inputId,
                    type: 'number',
                    class: [ 'fui-input' ],
                    name: char | namespaceInputName(field.handle),
                    value: selected,
                    placeholder: placeholder,
                    required: field.required ? true : false,
                    min: attrs.min,
                    max: attrs.max,
                    step: 1,
                    data: {
                        'fui-message': field.settings.errorMessage | t,
                    },
                    aria: {
                        required: field.required ? 'true' : 'false',
                    },
                } %}

                <input {{ attr(attributes) }} />
        {% endswitch %}

        {% hook 'formie.subfield.input-end' %}
    </div>

    {% hook 'formie.subfield.input-after' %}

    {{ formieInclude('_includes/label' with labelOptions | merge({
        position: 'below',
    })}) }}

    {% hook 'formie.subfield.field-end' %}
{% endset %}

{% set attributes = {
    class: [
        'fui-field',
        'fui-date-field',
        'fui-date-' ~ (handle | replace('/([A-Z])/', '-$1') | lower),
        'fui-label-' ~ labelPosition,
        handle != 'ampm' ? 'fui-text-input-field' : 'fui-select-field',
    ],
    html: html,
} %}

{{ tag(options.renderOptions.fieldTag ?? 'div', attributes) }}
