<fieldset class="fui-fieldset" aria-labelledby="{{ options.labelId }}">
    {{ formieInclude('_includes/legend', { position: 'above', labelId: options.labelId }) }}

    {{ formieInclude('_includes/instructions', { position: 'fieldset-start' }) }}

    <div class="fui-field-rows">
        {% for row in field.getFrontEndSubfields() %}
            <div class="fui-row">
                {% for char, attrs in row %}
                    {% include 'fields/date/_inputs/_field' %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ formieInclude('_includes/instructions', { position: 'fieldset-end' }) }}

    {{ formieInclude('_includes/legend', { position: 'below', labelId: options.labelId }) }}
</fieldset>
