{% import '_includes/forms' as forms %}

{% set handle = integration.handle %}
{% set formSettings = integration.getFormSettings().getSettings() %}
{% set entryTypeId = form.settings.integrations[handle].entryTypeId ?? '' %}

<integration-form-settings handle="{{ handle }}" :form-settings="{{ formSettings | json_encode }}" source="{{ entryTypeId }}">
    <template v-slot="{ get, isEmpty, input, settings, sourceId, loading, refresh, error, errorMessage, getSourceFields }">
        <div class="field">
            <div class="heading">
                <label id="sourceId-label" for="sourceId" class="required">{{ 'Entry Type' | t('formie') }}</label>

                <div class="instructions">
                    <p>{{ 'Select an entry type to map content to. This will reflect the available fields to map to.' | t('formie') }}</p>
                </div>
            </div>

            <div class="input ltr">
                <div class="select">
                    <select :value="sourceId" @input="input('sourceId', $event.target.value)" name="entryTypeId" required>
                        <option value="">{{ 'Select an option' | t('formie') }}</option>

                        <optgroup v-for="(section, sectionIndex) in get(settings, 'elements')" :key="sectionIndex" :label="sectionIndex">
                            <option v-for="(option, index) in section" :key="index" :value="option.id">${ option.name }</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.entryTypeId'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.entryTypeId')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        <div v-if="error" class="error" style="margin-top: 10px;" v-cloak>
            <span data-icon="alert"></span>
            <span v-html="errorMessage"></span>
        </div>

        {{ forms.elementSelectField({
            label: 'Default Entry Author' | t('formie'),
            instructions: 'Select a user to be the default author for the created entry. An entry must always have an author.' | t('formie'),
            id: 'defaultAuthorId',
            name: 'defaultAuthorId',
            elementType: 'craft\\elements\\User',
            selectionLabel: 'Choose a User' | t('formie'),
            limit: 1,
            required: true,
            elements: integration.getAuthor(form),
        }) }}

        <integration-field-mapping
            label="{{ 'Entry Attribute Mapping' | t('formie') }}"
            instructions="{{ 'Choose how your form fields should map to your entry attributes.' | t('formie') }}"
            name-label="{{ integration.displayName() }}"
            id="attribute-mapping"
            name="attributeMapping"
            :value="get(form, 'settings.integrations.{{ handle }}.attributeMapping')"
            :rows="{{ integration.getElementAttributes() | json_encode }}"
        ></integration-field-mapping>

        <integration-field-mapping
            label="{{ 'Entry Field Mapping' | t('formie') }}"
            instructions="{{ 'Choose how your form fields should map to your entry fields.' | t('formie') }}"
            name-label="{{ integration.displayName() }}"
            id="field-mapping"
            name="fieldMapping"
            :value="get(form, 'settings.integrations.{{ handle }}.fieldMapping')"
            :rows="getSourceFields('elements')"
        ></integration-field-mapping>

        <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.fieldMapping'))" class="errors" v-cloak>
            <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.fieldMapping')" :key="index">
                ${ error }
            </li>
        </ul>
    </template>
</integration-form-settings>

{{ forms.lightswitchField({
    label: 'Overwrite Content' | t('formie'),
    instructions: 'Whether to overwrite existing content, even if empty values are provided.' | t('formie'),
    name: 'overwriteValues',
    on: form.settings.integrations[handle].overwriteValues ?? false,
}) }}

{% set createDraft = form.settings.integrations[handle].createDraft ?? false %}
{% set updateElement = form.settings.integrations[handle].updateElement ?? false %}

{{ forms.lightswitchField({
    label: 'Create a New Draft' | t('formie'),
    instructions: 'Whether to create a new draft entry. If an existing entry is found, a new draft will be created on the original entry, instead of updating the existing entry. ' | t('formie'),
    id: 'createDraft',
    name: 'createDraft',
    on: createDraft,
}) }}

{{ forms.lightswitchField({
    label: 'Update Entries' | t('formie'),
    instructions: 'Whether this integration should update an existing entry if found, or always create a new entry. ' | t('formie'),
    id: 'updateElement',
    name: 'updateElement',
    on: updateElement,
    toggle: 'update-element',
}) }}

<div id="update-element" class="{% if not updateElement %}hidden{% endif %}">
    <integration-field-mapping
        label="{{ 'Update Element Mapping' | t('formie') }}"
        instructions="{{ 'Select the fields you want to use to check for existing elements. Formie will look for existing elements with the attributes chosen and the values provided in the submission.' | t('formie') }}"
        name-label="{{ integration.displayName() }}"
        id="update-element-mapping"
        name="updateElementMapping"
        :value="get(form, 'settings.integrations.{{ handle }}.updateElementMapping')"
        :rows="{{ integration.getUpdateAttributes() | json_encode }}"
    ></integration-field-mapping>
</div>

{% set updateSearchIndexes = form.settings.integrations[handle].updateSearchIndexes ?? true %}

{{ forms.lightswitchField({
    label: 'Update Search Index' | t('formie'),
    instructions: 'Whether this integration should update the search indexes to include content for this element. ' | t('formie'),
    id: 'updateSearchIndexes',
    name: 'updateSearchIndexes',
    on: updateSearchIndexes,
}) }}
