{% import '_includes/forms' as forms %}

{% set enabled = form.settings.integrations[integration.handle].enabled ?? '' %}
{% set entryTypeId = form.settings.integrations[integration.handle].entryTypeId ?? '' %}

{% set eventKey = 'formie:integration-' ~ integration.handle ~ '-entryTypeId' %}

<div id="integration-enabled" class="{{ not enabled ? 'hidden' }}">
    {{ forms.selectField({
        first: true,
        label: 'Entry Type' | t('formie'),
        instructions: 'Select an entry type to map content to. This will reflect the available fields to map to.' | t('formie'),
        name: 'entryTypeId',
        required: true,
        value: entryTypeId,
        options: sectionOptions,
        inputAttributes: {
            '@input': '$events.$emit("' ~ eventKey ~ '", { entryTypeId: $event.target.value, integration: "' ~ integration.handle ~ '" })',
        },
    }) }}

    <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ integration.handle }}.errors.entryTypeId'))" class="errors" v-cloak>
        <li v-for="(error, index) in get(form, 'settings.integrations.{{ integration.handle }}.errors.entryTypeId')" :key="index">
            ${ error }
        </li>
    </ul>

    {{ forms.elementSelectField({
        label: 'Default Entry Author' | t('formie'),
        instructions: 'Select a user to be the default author for the created entry. An entry must always have an author.' | t('formie'),
        id: 'defaultAuthorId',
        name: 'defaultAuthorId',
        elementType: 'craft\\elements\\User',
        selectionLabel: 'Choose a User' | t('formie'),
        limit: 1,
        required: true,
        elements: integration.getAuthor(form),
    }) }}

    <element-mapping
        label="{{ 'Entry Attribute Mapping' | t('formie') }}"
        instructions="{{ 'Choose how your form fields should map to your entry attributes.' | t('formie') }}"
        id="attribute-mapping"
        name="attributeMapping"
        :value="get(form, 'settings.integrations.{{ integration.handle }}.attributeMapping')"
        :rows="{{ integration.getElementAttributes() | json_encode }}"
    ></element-mapping>

    <element-mapping
        label="{{ 'Entry Field Mapping' | t('formie') }}"
        instructions="{{ 'Choose how your form fields should map to your entry fields.' | t('formie') }}"
        id="field-mapping"
        name="fieldMapping"
        refresh-listener="{{ eventKey }}"
        refresh-action="formie/integrations/element-fields"
        :value="get(form, 'settings.integrations.{{ integration.handle }}.fieldMapping')"
        :rows="{{ integration.getElementFields(entryTypeId) | json_encode }}"
    ></element-mapping>
</div>
