{% from '_includes/forms' import field %}

{% set element = element ?? null %}

{% set value = (element ? element.getFieldValue(field.handle) : field.normalizeValue(null)) %}
{% set errors = (element ? element.getErrors(field.handle) : null) %}
{% set instructions = (field.instructions ? field.instructions|t('formie') : null) %}

{% set input = field.getInputHtml(value, element) %}

{% if instructions or input %}
    {{ field({
        label: field.name | t('formie') | e,
        required: required,
        instructions: instructions|e,
        id: field.handle,
        errors: errors,
        fieldAttributes: {
            data: {
                type: className(field),
            },
        },
    }, input) }}
{% endif %}
