{% extends 'formie/_formfields/field' %}

{% block field %}

{% set id = 'new1' %}

{% namespace field.handle %}
    {{ hiddenInput('sortOrder[]', id) }}
{% endnamespace %}

<div class="fui-group-field pane">
    {% namespace "#{field.handle}[rows][#{id}][fields]" %}
        {% for field in field.getFieldLayout().getFields() %}
            {% include 'formie/_formfields/group/field' with {
                field: field,
                required: field.required,
                element: value.one() ?? null,
            } only %}
        {% endfor %}
    {% endnamespace %}
</div>

{% endblock %}
