{% set isFieldset = field.isFieldset ?? false %}
{% set label = field.name ?? fieldName %}

{% if not isFieldset and labelPosition.shouldDisplay(position) %}
    {% set attributes = {
        for: not isFieldset ? id,
        id: labelId ?? null,
        class: [ 'fui-label' ],
    } | filter %}

    {% if label %}
        <label {{- attr(attributes) -}}>
            {{- label | t | raw -}}

            {%- if field.required ?? required ?? false -%}
                &nbsp;<span class="fui-required">*</span>
            {%- endif -%}

            {% if extraContent is defined %}
                {{ extraContent | raw }}
            {%- endif -%}
        </label>
    {% endif %}
{% endif %}
