{% set legendPosition = (labelPosition ?? craft.formie.getLabelPosition(field, form)) %}
{% set isHidden = legendPosition == 'hidden' %}

{% if legendPosition.shouldDisplay(position) or (isHidden and position == 'above') %}
    {% set attributes = {
        id: labelId ?? null,
        class: [
            'fui-legend',
            isHidden ? 'fui-sr-only',
        ] | filter,
    } %}

    <legend {{- attr(attributes) -}}>
        {{- field.name | t -}}

        {%- if field.required -%}
            &nbsp;<span class="fui-required">*</span>
        {%- endif -%}
    </legend>
{% endif %}
