{% if form.settings.displayPageProgress and form.hasMultiplePages %}
    {% set pageIndex = form.getCurrentPageIndex() + 1 %}
    {% set progress = (pageIndex / form.pages | length) * 100 | round %}

    {% set progressHtml = formtag('progressValue', {
        text: progress | round ~ '%',
    }) %}

    {% formtag 'progressWrapper' %}
        {% if form.settings.progressValuePosition == 'left' %}
            {{ progressHtml | raw }}
        {% endif %}

        {% formtag 'progress' %}
            {% formtag 'progressContainer' %}
                {% if form.settings.progressValuePosition != 'left' and form.settings.progressValuePosition != 'right' %}
                    {{ progressHtml | raw }}
                {% endif %}
            {% endformtag %}
        {% endformtag %}

        {% if form.settings.progressValuePosition == 'right' %}
            {{ progressHtml | raw }}
        {% endif %}
    {% endformtag %}
{% endif %}
