{% hook 'formie.buttons.before' %}

{% set nextPage = form.getNextPage(page) %}
{% set prevPage = form.getPreviousPage(page) %}

{% formtag 'buttonWrapper' %}
    {% hook 'formie.buttons.start' %}

    {# Next button goes first. https://stackoverflow.com/a/1963285 #}

    {% formtag 'submitButton' %}
        {%- hook 'formie.buttons.submit-start' -%}

        {{ page.settings.submitButtonLabel | t }}

        {%- hook 'formie.buttons.submit-end' -%}
    {% endformtag %}

    {% if page.settings.showBackButton and prevPage %}
        {% formtag 'previousButton' %}
            {%- hook 'formie.buttons.prev-start' -%}

            {{ page.settings.backButtonLabel | t }}

            {%- hook 'formie.buttons.prev-end' -%}
        {% endformtag %}
    {% endif %}

    {% hook 'formie.buttons.end' %}
{% endformtag %}

{% hook 'formie.buttons.after' %}