{% import '_includes/forms' as forms %}

{% set handle = integration.handle %}
{% set formSettings = integration.getFormSettings().getSettings() %}
{% set mapToContact = form.settings.integrations[handle].mapToContact ?? '' %}
{% set mapToLead = form.settings.integrations[handle].mapToLead ?? '' %}
{% set mapToOpportunity = form.settings.integrations[handle].mapToOpportunity ?? '' %}
{% set mapToAccount = form.settings.integrations[handle].mapToAccount ?? '' %}

<field-select
    label="{{ 'Opt-In Field' | t('formie') }}"
    instructions="{{ 'Choose a field to opt-in to {name}. For example, you might only wish to record user data if they provide a value for a field of your choice - commonly, an Agree field.' | t('formie', { name: integration.displayName() }) }}"
    id="opt-in-field"
    name="optInField"
    :value="get(form, 'settings.integrations.{{ handle }}.optInField')"
></field-select>

<hr>

<integration-form-settings handle="{{ handle }}" :form-settings="{{ formSettings | json_encode }}">
    <template v-slot="{ get, isEmpty, input, settings, sourceId, loading, refresh, error, errorMessage, getSourceFields }">
        <div class="field">
            <button class="btn" :class="{ 'fui-loading fui-loading-sm': loading }" data-icon="refresh" @click.prevent="refresh">{{ 'Refresh Integration' | t('formie') }}</button>
        </div>

        <div v-if="error" class="error" style="margin-top: 10px;" v-cloak>
            <span data-icon="alert"></span>
            <span v-html="errorMessage"></span>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Contact' | t('formie'),
            instructions: 'Whether to map form data to {name} Contacts.' | t('formie', { name: integration.displayName() }),
            id: 'mapToContact',
            name: 'mapToContact',
            on: mapToContact,
            toggle: 'map-to-contact',
        }) }}

        <div id="map-to-contact" class="{{ not mapToContact ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Contact Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Contact fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="contact-field-mapping"
                name="contactFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.contactFieldMapping')"
                :rows="get(settings, 'contact')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.contactFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.contactFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Lead' | t('formie'),
            instructions: 'Whether to map form data to {name} Leads.' | t('formie', { name: integration.displayName() }),
            id: 'mapToLead',
            name: 'mapToLead',
            on: mapToLead,
            toggle: 'map-to-lead',
        }) }}

        <div id="map-to-lead" class="{{ not mapToLead ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Lead Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Lead fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="lead-field-mapping"
                name="leadFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.leadFieldMapping')"
                :rows="get(settings, 'lead')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.leadFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.leadFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Opportunity' | t('formie'),
            instructions: 'Whether to map form data to {name} Opportunitys.' | t('formie', { name: integration.displayName() }),
            id: 'mapToOpportunity',
            name: 'mapToOpportunity',
            on: mapToOpportunity,
            toggle: 'map-to-opportunity',
        }) }}

        <div id="map-to-opportunity" class="{{ not mapToOpportunity ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Opportunity Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Opportunity fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="opportunity-field-mapping"
                name="opportunityFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.opportunityFieldMapping')"
                :rows="get(settings, 'opportunity')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.opportunityFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.opportunityFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Account' | t('formie'),
            instructions: 'Whether to map form data to {name} Accounts.' | t('formie', { name: integration.displayName() }),
            id: 'mapToAccount',
            name: 'mapToAccount',
            on: mapToAccount,
            toggle: 'map-to-account',
        }) }}

        <div id="map-to-account" class="{{ not mapToAccount ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Account Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Account fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="account-field-mapping"
                name="accountFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.accountFieldMapping')"
                :rows="get(settings, 'account')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.accountFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.accountFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>
    </template>
</integration-form-settings>
