{% extends '_layouts/elementindex' %}

{% set crumbs = [
    { label: craft.formie.getPluginName() | t('formie'), url: url('formie') },
    { label: 'Sent Notifications' | t('formie'), url: url('formie/sent-notifications') },
] %}

{% set title = 'Sent Notifications' | t('formie') %}
{% set selectedSubnavItem = 'sentNotifications' %}

{% set docTitle = title ~ ' - Formie' %}
{% set elementType = 'verbb\\formie\\elements\\SentNotification' %}

{% css %}

.status.success {
    background-color: #27AB83;
}

.status.failed {
    background-color: #CF1124;
}

{% endcss %}