<fieldset class="fui-fieldset" aria-labelledby="{{ options.labelId }}">
    {% set labelPosition = craft.formie.getLabelPosition(field, form, true) %}

    {% include 'formie/form-template/_includes/legend' with { position: 'above' } %}

    {% include 'formie/form-template/_includes/instructions' with { position: 'fieldset-start' } %}

    <div class="fui-field-rows">
        {% for row in field.getFrontEndSubfields() %}
            <div class="fui-row">
                {% for handle, autocomplete in row %}
                    {% include 'fields/phone/_field' %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {% include 'formie/form-template/_includes/instructions' with { position: 'fieldset-end' } %}

    {% include 'formie/form-template/_includes/legend' with { position: 'below' } %}
</fieldset>
