{# A duplicate of '_includes/forms/date' but with timezone removed #}

{% set id = (id ?? "date#{random()}") ~ '-date' -%}
{% set name = name ?? null -%}
{% set dateFormat = field.getDateFormat()|default('Y-m-d') -%}

{# Prefer the field's configured format over Craft's locale "short" format. #}
{% if value.parts is defined %}
    {% set displayDate = field.formatDatePartForDisplay(value.parts) %}
    {% set dateTime = field.dateTimeFromValue(value) %}
{% else %}
    {% set dateTime = (value ?? false) ? date(value, false, false) : null %}
    {% set displayDate = dateTime ? dateTime|date(dateFormat, false, false) : '' %}
{% endif %}

<div class="datewrapper"
        {%- if block('attr') is defined %} {{ block('attr') }}{% endif %}>
    {%- include "_includes/forms/text" with {
        name: name ? "#{name}[date]" : null,
        autocomplete: false,
        size: 10,
        placeholder: ' ',
        value: displayDate,
        inputAttributes: field.displayType == 'datePicker' and not field.getIsDateTime() ? {
            'data-formie-date-datepicker-input': true,
        } : {},
    } -%}
    <div data-icon="date"></div>
</div>

{% if field.displayType != 'datePicker' or field.getIsDateTime() %}
{%- js %}
    $('#{{ id|namespaceInputId|e('js') }}').datepicker($.extend({
        defaultDate: new Date({% if dateTime %}{{ dateTime.format('Y') }}, {{ dateTime.format('n')-1 }}, {{ dateTime.format('j') }}{% endif %})
    }, Craft.datepickerOptions));
{%- endjs %}
{% endif %}
