{# A duplicate of '_includes/forms/time' but with timezone removed #}

{% set id = (id ?? "time#{random()}") ~ '-time' -%}
{% set name = name ?? null -%}
{% set timeFormat = field.getTimeFormat()|default('H:i') -%}

{# Prefer the field's configured format over Craft's locale "short" format. #}
{% if value.parts is defined %}
    {% set displayTime = field.formatTimePartForDisplay(value.parts) %}
    {% set dateTime = field.dateTimeFromValue(value) %}
{% else %}
    {% set dateTime = value ?? null %}
    {% set displayTime = dateTime ? dateTime|time(timeFormat, false, false) : '' %}
{% endif %}

{% if field.displayType != 'datePicker' or field.getIsDateTime() %}
    {% do view.registerAssetBundle('craft\\web\\assets\\timepicker\\TimepickerAsset') -%}
{% endif %}

<div class="timewrapper"
        {%- if block('attr') is defined %} {{ block('attr') }}{% endif %}>
    {%- include "_includes/forms/text" with {
        name: name ? "#{name}[time]" : null,
        autocomplete: false,
        size: 10,
        placeholder: ' ',
        value: displayTime,
        inputAttributes: field.displayType == 'datePicker' and not field.getIsDateTime() ? {
            'data-formie-date-datepicker-input': true,
        } : {},
    } -%}
    <div data-icon="time"></div>
</div>

{% set options = {
    minTime: minTime ?? null,
    maxTime: maxTime ?? null,
    disableTimeRanges: disableTimeRanges ?? null,
    step: minuteIncrement ?? null,
    forceRoundTime: forceRoundTime ?? false,
}|filter %}

{# include JSON_FORCE_OBJECT in the json_encode options #}
{% set jsonOptions = constant('JSON_HEX_TAG') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_QUOT') b-or constant('JSON_FORCE_OBJECT') %}

{% if field.displayType != 'datePicker' or field.getIsDateTime() %}
{%- js %}
    var $timePicker = $('#{{ id|namespaceInputId|e('js') }}');
    $timePicker.timepicker($.extend({{ options|json_encode(jsonOptions)|raw }}, Craft.timepickerOptions));

    {% if dateTime and dateTime.format is defined %}
        $timePicker.timepicker('setTime', {{ dateTime.format('G') }}*3600 + {{ dateTime.format('i') }}*60 + {{ dateTime.format('s') }});
    {% endif %}
{%- endjs %}
{% endif %}
