{% import '_includes/forms' as forms %}

{% extends 'formie/_formfields/field' %}

{% block field %}

{% if field.getCollectsRange() %}
    {% namespace field.handle %}
        <div class="formie-subfield-rows" data-formie-subfield-rows>
            {% for row in field.getRows(false) %}
                <div class="formie-subfield-row" data-formie-subfield-row>
                    {% for field in row.getFields(false) %}
                        {% set value = element.getFieldValue(field.valueKey()) ?? field.getInitialValue(element) %}
                        {% set errors = element.getErrors(field.valueKey()) ?? [] %}

                        {{ field.getSubmissionHtml(value, element) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endnamespace %}
{% elseif field.displayType == 'calendar' or field.displayType == 'datePicker' %}
    {% if field.getIsDate() or field.getIsDateTime() %}
        {% include 'formie/_formfields/date/_date' %}
    {% endif %}

    {% if field.getIsTime() or field.getIsDateTime() %}
        {% include 'formie/_formfields/date/_time' %}
    {% endif %}
{% endif %}

{% if field.displayType == 'dropdowns' or field.displayType == 'inputs' %}
    {% namespace field.handle %}
        <div class="formie-subfield-rows" data-formie-subfield-rows>
            {% for row in field.getRows(false) %}
                <div class="formie-subfield-row" data-formie-subfield-row>
                    {% for field in row.getFields(false) %}
                        {% set value = element.getFieldValue(field.valueKey()) ?? field.getInitialValue(element) %}
                        {% set errors = element.getErrors(field.valueKey()) ?? [] %}

                        {{ field.getSubmissionHtml(value, element) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endnamespace %}
{% endif %}

{% endblock %}
