{% for field in field.getFields(false) %}
    {% set value = submission.getFieldValue(field.valueKey()) ?? field.getInitialValue(submission) %}

    {% if field.hasReferenceBlockLabel() %}
        <strong>{{ field.label }}:</strong>
    {% endif %}

    {% if field.isValueEmpty(value, submission) and field.hasReferenceBlockPlaceholder() %}
        {{ notification.getPlaceholder() }}
    {% else %}
        {{ field.getReferenceBlockHtml(submission, notification, value) | raw }}
    {% endif %}

    <br>
{% endfor %}