<p>
    {% if not (renderOptions.hideName ?? false) %}
        <strong>{{ field.name | t('formie') }}</strong><br>
    {% endif %}

    {% if field.multi %}
        {# Remove empty elements #}
        {% set value = value | filter(v => (v ~ '')) %}

        {% if value | length %}
            <ul>
                {% for item in value %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ notification.getPlaceholder() }}
        {% endif %}
    {% else %}
        {# Cast `SingleOptionFieldData` as a string #}
        {{ (value ~ '') ?: notification.getPlaceholder() }}
    {% endif %}
</p>
