<div style="margin: 1em 0;">
    {% if not (renderOptions.hideName ?? false) %}
        <strong>{{ field.name | t('formie') }}</strong>
    {% endif %}

    {% set fields = field.getFieldLayout().getCustomFields() %}

    {% if value.exists() %}
        <table style="width: 100%; margin: 1em 0; border-collapse: collapse;">
            {% for row in value.all() %}
                <tbody>
                    {% for field in fields %}
                        {% set fieldValue = (row ? row.getFieldValue(field.handle) : field.normalizeValue(null)) %}

                        {% set html = field.getEmailHtml(submission, notification, fieldValue, {
                            hideName: true,
                        }) %}

                        {% if html %}
                            <tr>
                                <th style="text-align: left; font-size: inherit; width: 30%; padding: 4px; border: 1px solid; background-color: rgba(0, 0, 0, 0.05);">
                                    {% if field.hasLabel %}
                                        {{ field.name | t('formie') }}
                                    {% endif %}
                                </th>

                                <td style="padding: 4px; border: 1px solid;">
                                    {{ html | raw }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ notification.getPlaceholder() }}</p>
    {% endif %}
</div>
