{% apply spaceless %}
    {% if value and field.settings.useMultipleFields %}
        {% for field in field.getFields(false) %}
            {% set value = submission.getFieldValue(field.fieldKey) ?? field.normalizeValue(field.getDefaultValue(), null) %}

            {% if field.hasEmailLabel() %}
                <strong>{{ field.label | t('formie') }}:</strong>
            {% endif %}

            {% if field.isValueEmpty(value, submission) and field.hasEmailPlaceholder() %}
                {{ notification.getPlaceholder() }}
            {% else %}
                {{ field.getEmailHtml(submission, notification, value) | raw }}
            {% endif %}

            <br>
        {% endfor %}
    {% else %}
        {{ field.getValueAsString(value, submission) }}
    {% endif %}
{% endapply %}