{% apply spaceless %}
    {% if value and field.settings.useMultipleFields %}
        {% for field in field.getFields(false) %}
            {% set value = submission.getFieldValue(field.fieldKey) ?? field.normalizeValue(field.getDefaultValue(), null) %}

            <strong>{{ field.label | t('formie') }}: </strong>{{ value ? field.getValueAsString(value, submission) : notification.getPlaceholder() }}<br>
        {% endfor %}
    {% else %}
        {{ value ? field.getValueAsString(value, submission) : notification.getPlaceholder() }}
    {% endif %}
{% endapply %}