<p>
    {% if not (renderOptions.hideName ?? false) %}
        <strong>{{ field.name | t('formie') }}</strong><br>
    {% endif %}

    {% if value and field.settings.useMultipleFields %}
        {% if field.prefixEnabled %}
            <strong>{{ field.prefixLabel | t('formie') }}: </strong>{{ value.prefix ?: notification.getPlaceholder() }}<br>
        {% endif %}

        {% if field.firstNameEnabled %}
            <strong>{{ field.firstNameLabel | t('formie') }}: </strong>{{ value.firstName ?: notification.getPlaceholder() }}<br>
        {% endif %}

        {% if field.middleNameEnabled %}
            <strong>{{ field.middleNameLabel | t('formie') }}: </strong>{{ value.middleName ?: notification.getPlaceholder() }}<br>
        {% endif %}

        {% if field.lastNameEnabled %}
            <strong>{{ field.lastNameLabel | t('formie') }}: </strong>{{ value.lastName ?: notification.getPlaceholder() }}<br>
        {% endif %}
    {% else %}
        {{ value ?: notification.getPlaceholder() }}
    {% endif %}
</p>
