{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set handle = integration.handle %}
{% set displayName = integration.displayName() %}
{% set formSettings = integration.getFormSettings().getSettings() %}
{% set url = form.settings.integrations[handle].url ?? form.settings.integrations[handle].webhook ?? null %}
{% set method = form.settings.integrations[handle].method ?? 'POST' %}
{% set requestType = form.settings.integrations[handle].requestType ?? 'json' %}
{% set headers = form.settings.integrations[handle].headers ?? [] %}
{% set httpAuth = form.settings.integrations[handle].httpAuth ?? [{username: '', password: ''}] %}

<field-select
    label="{{ 'Opt-In Field' | t('formie') }}"
    instructions="{{ 'Choose a field to opt-in to {name}. For example, you might only wish to subscribe users if they provide a value for a field of your choice - commonly, an Agree field.' | t('formie', { name: displayName }) }}"
    id="opt-in-field"
    name="optInField"
    :value="get(form, 'settings.integrations.{{ handle }}.optInField')"
></field-select>

<hr>

{# Ensure that the legacy `webhook` value is blanked out #}
{{ hiddenInput('webhook', '') }}

{{ forms.textField({
    label: 'URL' | t('formie'),
    instructions: 'Enter the URL that will be triggered when a submission is made.' | t('formie', { name: displayName }),
    name: 'url',
    required: true,
    value: url,
    errors: integration.getErrors('url'),
}) }}

{{ forms.selectField({
    label: 'HTTP Method' | t('formie'),
    instructions: 'Select the HTTP Method used to send data.' | t('formie', { name: displayName }),
    name: 'method',
    required: true,
    value: method,
    options: [
        { label: 'GET' | t('formie'), value: 'GET' },
        { label: 'POST' | t('formie'), value: 'POST' },
        { label: 'PUT' | t('formie'), value: 'PUT' },
        { label: 'PATCH' | t('formie'), value: 'PATCH' },
        { label: 'DELETE' | t('formie'), value: 'DELETE' },
    ],
    errors: integration.getErrors('method'),
}) }}

{{ forms.selectField({
    label: 'Request Type' | t('formie'),
    instructions: 'Select the Request Type used to send data.' | t('formie', { name: displayName }),
    name: 'requestType',
    required: true,
    value: requestType,
    options: [
        { label: 'JSON Body' | t('formie'), value: 'json' },
        { label: 'Raw Body' | t('formie'), value: 'body' },
        { label: 'Query String' | t('formie'), value: 'query' },
        { label: 'Form Params' | t('formie'), value: 'form_params' },
        { label: 'Multipart' | t('formie'), value: 'multipart' },
    ],
    errors: integration.getErrors('method'),
}) }}

{{ forms.editableTableField({
    label: 'Headers' | t('formie'),
    instructions: 'Provide any parameters for the request header.' | t('formie'),
    id: 'headers',
    name: 'headers',
    cols: {
        key: {
            type: 'singleline',
            heading: 'Key' | t('formie'),
            width: '25%',
            suggestEnvVars: true,
        },
        value: {
            type: 'singleline',
            heading: 'Value' | t('formie'),
            suggestEnvVars: true,
        },
    },
    rows: headers,
    addRowLabel: 'Add an option' | t('formie'),
    errors: integration.getErrors('headers'),
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
}) }}

{{ forms.editableTableField({
    label: 'HTTP Authentication' | t('formie'),
    instructions: 'If using Basic HTTP Authentication, provide the Username and Password for the provider.' | t('formie'),
    id: 'httpAuth',
    name: 'httpAuth',
    cols: {
        username: {
            type: 'singleline',
            heading: 'Username' | t('formie'),
            suggestEnvVars: true,
        },
        password: {
            type: 'singleline',
            heading: 'Password' | t('formie'),
            suggestEnvVars: true,
        },
    },
    rows: httpAuth,
    addRowLabel: 'Add an option' | t('formie'),
    errors: integration.getErrors('httpAuth'),
    allowAdd: false,
    allowDelete: false,
    allowReorder: false,
}) }}

<integration-form-settings handle="{{ handle }}" :form-settings="{{ formSettings | json_encode }}">
    <template v-slot="{ get, isEmpty, input, settings, sourceId, loading, refresh, error, errorMessage, success, getSourceFields }">
        <div class="field">
            <button class="btn" :class="{ 'fui-loading fui-loading-sm': loading }" data-icon="refresh" @click.prevent="refresh">{{ 'Send Test Payload' | t('formie') }}</button>
        </div>

        <div v-if="error" class="error" style="margin-top: 10px;" v-cloak>
            <span data-icon="alert"></span>
            <span v-html="errorMessage"></span>
        </div>

        <div v-if="success" class="success" style="margin-top: 10px;" v-cloak>
            {{ 'Success!' | t('formie') }}<br>
            <pre><code v-if="get(settings, 'json')">${ get(settings, 'json') }</code><code v-else="get(settings, 'response')"><br>${ get(settings, 'response') }</code></pre>
        </div>
    </template>
</integration-form-settings>

