{% import '_includes/forms' as forms %}

{% set enabled = form.settings.integrations[integration.handle].enabled ?? '' %}
{% set mapToContact = form.settings.integrations[integration.handle].mapToContact ?? '' %}
{% set mapToDeal = form.settings.integrations[integration.handle].mapToDeal ?? '' %}
{% set mapToAccount = form.settings.integrations[integration.handle].mapToAccount ?? '' %}

<integration-form-settings handle="{{ integration.handle }}" :form-settings="{{ integration.getFormSettings() | json_encode }}" name-raw="fields" inline-template>
    <div>
        <div class="field">
            <button class="btn" :class="{ 'fui-loading fui-loading-sm': loading }" data-icon="refresh" @click.prevent="refresh">{{ 'Refresh Integration' | t('formie') }}</button>
        </div>

        <div v-if="error" class="error" style="margin-top: 10px;" v-cloak>
            <span data-icon="alert"></span>
            <span v-html="errorMessage"></span>
        </div>

        <integration-field-mapping
            label="{{ 'Contact Field Mapping' | t('formie') }}"
            instructions="{{ 'Choose how your form fields should map to your {name} Contact fields.' | t('formie', { name: integration.displayName() }) }}"
            name-label="{{ integration.displayName() }}"
            id="contact-field-mapping"
            name="contactFieldMapping"
            :value="get(form, 'settings.integrations.{{ integration.handle }}.contactFieldMapping')"
            :rows="get(settings, 'contact')"
        ></integration-field-mapping>

        <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ integration.handle }}.errors.contactFieldMapping'))" class="errors" v-cloak>
            <li v-for="(error, index) in get(form, 'settings.integrations.{{ integration.handle }}.errors.contactFieldMapping')" :key="index">
                ${ error }
            </li>
        </ul>

        {{ forms.lightswitchField({
            label: 'Map to Deal' | t('formie'),
            instructions: 'Whether to map form data to {name} Deals.' | t('formie', { name: integration.displayName() }),
            id: 'mapToDeal',
            name: 'mapToDeal',
            on: mapToDeal,
            toggle: 'map-to-deal',
        }) }}

        <div id="map-to-deal" class="{{ not mapToDeal ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Deal Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Deal fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="deal-field-mapping"
                name="dealFieldMapping"
                :value="get(form, 'settings.integrations.{{ integration.handle }}.dealFieldMapping')"
                :rows="get(settings, 'deal')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ integration.handle }}.errors.dealFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ integration.handle }}.errors.dealFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Account' | t('formie'),
            instructions: 'Whether to map form data to {name} Accounts.' | t('formie', { name: integration.displayName() }),
            id: 'mapToAccount',
            name: 'mapToAccount',
            on: mapToAccount,
            toggle: 'map-to-account',
        }) }}

        <div id="map-to-account" class="{{ not mapToAccount ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Account Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Account fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="account-field-mapping"
                name="accountFieldMapping"
                :value="get(form, 'settings.integrations.{{ integration.handle }}.accountFieldMapping')"
                :rows="get(settings, 'account')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ integration.handle }}.errors.accountFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ integration.handle }}.errors.accountFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>
    </div>
</integration-form-settings>
