// ==========================================================================
// Field Layout
// ==========================================================================

.fui-field {
    padding-left: var(--fui-field-gutter);
    padding-right: var(--fui-field-gutter);

    // No margin for hidden fields
    &:not(.fui-type-hidden-field) {
        margin-bottom: var(--fui-row-gutter);
    }
}

.fui-label-left-input {
    .fui-input-container {
        margin-left: var(--fui-field-gutter);
    }
}

.fui-label-right-input {
    .fui-input-container {
        margin-right: var(--fui-field-gutter);
    }
}


// ==========================================================================
// Field Labels
// ==========================================================================

.fui-label,
.fui-legend {
    font-size: var(--fui-label-font-size);
    line-height: var(--fui-label-line-height);
    font-weight: var(--fui-label-font-weight);
    display: block;
    padding: 0;
    color: var(--fui-label-color);

    .fui-label-above-input &,
    .fui-subfield-label-above-input & {
        margin-bottom: var(--fui-label-margin);
    }

    .fui-label-below-input &,
    .fui-subfield-label-below-input & {
        margin-top: var(--fui-label-margin);
    }

    .fui-error & {
        color: var(--fui-label-error-color);
        border-color: var(--fui-label-error-border-color);
    }
}

.fui-required {
    color: var(--fui-required-color);
}

.fui-instructions {
    color: var(--fui-instructions-color);
    font-size: var(--fui-instructions-font-size);
    line-height: var(--fui-instructions-line-height);
    display: block;

    p {
        margin: 0;
    }

    .fui-instructions-above-input &,
    .fui-instructions-fieldset-start & {
        margin-bottom: var(--fui-instructions-margin);
    }

    .fui-instructions-below-input &,
    .fui-instructions-fieldset-end & {
        margin-top: var(--fui-instructions-margin);
    }
}

.fui-file-summary {
    color: var(--fui-instructions-color);
    font-size: var(--fui-instructions-font-size);
    line-height: var(--fui-instructions-line-height);
    display: block;

    p, ul {
        margin: 0;
    }

    & > p {
        margin-top: var(--fui-instructions-margin);
        margin-bottom: var(--fui-instructions-margin);
    }

    ul {
        padding-left: 1.75rem;
    }

    li {
        list-style: disc;
    }
}


// ==========================================================================
// Fieldsets
// ==========================================================================

.fui-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}


// ==========================================================================
// ReCAPTCHA
// ==========================================================================

.formie-recaptcha-placeholder > * {
    margin-top: 1rem;
}
