// ==========================================================================
// Forms - Submit
// ==========================================================================

.fui-btn-container {
    display: flex;
    padding-top: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    justify-content: flex-start;

    &.fui-btn-right {
        justify-content: flex-end;
    }

    &.fui-btn-center {
        justify-content: center;
    }

    &.fui-btn-left-right {
        justify-content: space-between;
    }

    .fui-btn {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.fui-submit {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    order: 10;

    &.fui-loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }

    &:hover {
        color: #fff;
        background-color: $primary-color-hover;
    }

    &:focus,
    &:active {
        border-color: $primary-color-hover;
        box-shadow: 0 0 0 3px rgba(180, 198, 252, 0.45);
    }
}


// ==========================================================================
// Forms - Layout
// ==========================================================================

.fui-page {
    &:not(.fui-hidden) + & {
        margin-top: 1.5rem;
    }
}

.fui-row {
    margin-left: -$field-gutter;
    margin-right: -$field-gutter;

    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}


// ==========================================================================
// Forms - Titles
// ==========================================================================

.fui-title {
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.fui-page-title {
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1.125rem;
    font-weight: 600;
}


// ==========================================================================
// Forms - Page Tabs
// ==========================================================================

.fui-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    border-bottom: 1px solid $border-color;
}

.fui-tab {
    color: $gray-600;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    border: 1px solid transparent;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.fui-tab-active {
    font-weight: 500;
    color: $gray-800;
    background-color: #fff;
    border-color: $border-color;
    border-bottom-color: transparent;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}


// ==========================================================================
// Forms - Progress
// ==========================================================================

.fui-progress {
    display: flex;
    height: 1.2rem;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    border-radius: $border-radius;
    background-color: $gray-300;

    .fui-progress-start & {
        margin-bottom: 1rem;
    }

    .fui-progress-end & {
        margin-top: 1rem;
    }
}

.fui-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $primary-color;
    transition: width 0.3s ease;
}

