// ==========================================================================
// Validation
// ==========================================================================

.fui-errors {
    margin: 0;
    padding: 0;
}

.fui-error-message {
    color: $error;
    font-size: 0.875rem;
    display: block;
    margin-top: 0.5rem;
}
