// ==========================================================================
// Validation
// ==========================================================================

.fui-errors {
    margin: 0;
    padding: 0;
}

.fui-error-message {
    color: var(--fui-error-color, var(--fui-error));
    font-size: var(--fui-error-font-size);
    display: block;
    margin-top: var(--fui-error-margin-top);
}

.fui-success-message {
    color: var(--fui-success-color, var(--fui-success));
    font-size: var(--fui-error-font-size);
    display: block;
    margin-top: var(--fui-error-margin-top);
}
