// ==========================================================================
// Repeater Styles
// ==========================================================================

.repeaterContainer {
    position: relative;
}

.repeater-table {
    border-radius: 5px;
    border: 1px solid darken(#e3e5e8, 5%);
    // overflow: hidden;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.1);
}

.repeater-table tbody tr td {
    vertical-align: middle;
    text-align: left;
    background: #fff;
}

.repeater-table tbody tr td:not(:first-child),
.repeater-table tbody tr th ~ td:not(.hidden) ~ td {
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.repeater-table tbody tr:not(:first-child) td {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.repeater-table tbody tr td:not(.textual) {
    padding: 4px 10px;
}

.repeater-table tbody tr td > .field > .heading {
    display: none;
}

.repeater-table tbody tr td.action {
    background: #f1f5f8;
    padding: 4px 7px;
}

.repeater-table tbody tr td.action + td.action {
    padding-left: 3px;
    border-left: none;
}


// ==========================================================================
// Row-Layout Styles
// ==========================================================================

.repeaterRow {
    margin: 10px 0;
}

.repeaterRow .rowHeader {
    vertical-align: top;
    line-height: 1.2;
    color: #8f98a3;
    font-weight: normal;
    border-radius: 3px 3px 0 0;
    padding: 8px 7px !important;
    text-align: left;
    white-space: nowrap;
    background: #f1f5f8;
}

.repeaterRow .rowHeader .heading-text {
    min-height: 30px;
    display: block;
}

// Tweak the required asterisks a little
.repeaterRow .rowHeader .heading-text.required:after {
    margin: -4px 0 0 1px;
}

// Tweak the info icon a little
.repeaterRow .rowHeader .heading-text .info:before {
    margin: 1px 0 0 1px;
}

.repeaterRow .placeholder {
    width: 25px !important;
}

.repeaterRow table {
    position: relative;
}

.repeaterRow tfoot tr {
    right: 0;
    width: 45px;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    background: #f1f5f8;
    opacity: 1;

    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.repeater-layout-row tbody tr td:nth-child(2) {
    border-left: 1px solid #e0e4e7;
}

.repeaterRow .floating .icon.move:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -17px;
}

.repeaterRow .floating .icon.delete:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 3px;
}


// ==========================================================================
// New Row-Layout Styles
// ==========================================================================

.repeater-layout-row-new {
    position: relative;
    border-radius: 5px;
    border: 1px solid #d5d8dd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,0.1);
}

.repeater-layout-row-new-body {
    display: grid;
    grid-template-columns: auto 1fr 46px;
}

.repeater-layout-row-new-body .rowHeader {
    max-width: 180px;
    white-space: normal;
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,0.07);
}

.repeater-layout-row-new-field {
    border-left: 1px solid #e0e4e7;
    padding: 4px 10px;
    border-top: 1px solid rgba(0,0,0,0.07);
    background: #fff;

    & > .field > .heading {
        display: none;
    }
}

.repeater-layout-row-new-body > :nth-child(1),
.repeater-layout-row-new-body > :nth-child(2),
.repeater-layout-row-new-body > :nth-child(3) {
    border-top: none;
}

.repeater-layout-row-new-body {
    > :nth-child(1) {
        border-top-left-radius: 3px;
    }

    > :nth-last-child(3) {
        border-bottom-left-radius: 3px;
    }
}

.repeater-layout-row-new-actions {
    right: 0;
    width: 45px;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    background: #f1f5f8;
    opacity: 1;
    border-left: 1px solid rgba(0,0,0,0.07);
}

.repeater-layout-row-new-actions .floating .icon.delete:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 3px;
}
