{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Account SID' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'accountSid',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.accountSid ?? '',
    warning: macros.configWarning('accountSid', 'formie'),
    errors: integration.getErrors('accountSid'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Auth Token' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'authToken',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.authToken ?? '',
    warning: macros.configWarning('authToken', 'formie'),
    errors: integration.getErrors('authToken'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'From Number' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'fromNumber',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.fromNumber ?? '',
    warning: macros.configWarning('fromNumber', 'formie'),
    errors: integration.getErrors('fromNumber'),
}) }}

{% endblock %}