{% extends 'formie/_layouts/settings' %}

{% block actionButton %}
    <a href="{{ url('formie/settings/email-templates/new') }}" class="btn submit add icon">{{ 'New Template' | t('formie') }}</a>
{% endblock %}

{% block content %}
    <div id="email-templates-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for template in emailTemplates %}
    {% set tableData = tableData | merge([{
        id: template.id,
        labelHtml: {
            url: template.cpEditUrl,
            html: template.name,
        },
        title: template.name | t('formie'),
        url: template.cpEditUrl,
        handle: template.handle | e,
        _showDelete: template.canDelete(),
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: 'labelHtml',
            title: Craft.t('app', 'Name'),
            callback: function(value) {
                return '<a class="cell-bold" href="' + value.url + '">' + value.html + '</a>';
            }
        },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#email-templates-vue-admin-table',
        deleteAction: 'formie/email-templates/delete',
        reorderAction: 'formie/email-templates/reorder',
        reorderSuccessMessage: Craft.t('formie', 'Templates reordered.'),
        reorderFailMessage: Craft.t('formie', 'Couldn’t reorder templates.'),
        tableData: {{ tableData | json_encode | raw }},
    });
{% endjs %}

