{{ hiddenInput(field.handle, '') }}

{% namespace field.handle %}
    <fieldset class="fui-fieldset">
        {{ formieInclude('_includes/legend', { position: 'above' }) }}

        {{ formieInclude('_includes/instructions', { position: 'fieldset-start' }) }}

        <div class="fui-repeater-rows">
            {% if value and value.exists() %}
                {% for block in value.all() %}
                    {{ formieInclude('fields/repeater/_row', {
                        id: block.id ?? 'new' ~ loop.index,
                    }) }}
                {% endfor %}
            {% elseif field.minRows > 0 %}
                {% for i in 1..field.minRows %}
                    {{ formieInclude('fields/repeater/_row', {
                        id: 'new' ~ i,
                    }) }}
                {% endfor %}
            {% endif %}
        </div>

        {% set buttonAttributes = {
            class: 'fui-btn fui-repeater-add-btn',
            type: 'button',
            data: {
                'min-rows': field.minRows,
                'max-rows': field.maxRows,
                'add-repeater-row': field.handle,
            }
        } %}

        {# Disable the button straight away if we're making it static #}
        {% if field.minRows != '' and field.maxRows != '' %}
            {% if field.minRows == field.maxRows %}
                {% set buttonAttributes = buttonAttributes | merge({
                    class: buttonAttributes.class ~ ' fui-disabled',
                    disabled: true,
                }) %}
            {% endif %}
        {% endif %}

        <button {{ attr(buttonAttributes) }}>
            {{ field.addLabel }}
        </button>

        {{ formieInclude('_includes/instructions', { position: 'fieldset-end' }) }}

        {{ formieInclude('_includes/legend', { position: 'below' }) }}
    </fieldset>
{% endnamespace %}

{% set newRowScript %}
    {# `namespace` won't work outside `script` tag, so extra work here, particularly #}
    {# to deal with higher-level namespaces like the default `fields`. #}
    {% namespace craft.formie.getFieldNamespaceForScript(field) %}
        {{ formieInclude('fields/repeater/_row', {
            id: '__ROW__',
        }) }}
    {% endnamespace %}
{% endset %}

{% set includeScriptsInline = options.renderOptions.includeScriptsInline ?? false %}

{% if includeScriptsInline %}
    {# For GraphQL requests we need to render this inline #}
    <script type="text/x-template" data-repeater-template="{{ field.handle }}">
        {{ newRowScript }}
    </script>
{% else %}
    {# Have to use the `script` tag here to place the script outside of a Vue3 wrapper #}
    {# as Vue3 will strip out inline `script` tags (all other scenarios would be fine) #}
    {% script with { type: 'text/x-template', 'data-repeater-template': field.handle } %}
        {{ newRowScript }}
    {% endscript %}
{% endif %}
