{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Vendor Name' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'vendorName',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.vendorName ?? '',
    warning: macros.configWarning('vendorName', 'formie'),
    errors: integration.getErrors('vendorName'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Integration Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'integrationKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.integrationKey ?? '',
    warning: macros.configWarning('integrationKey', 'formie'),
    errors: integration.getErrors('integrationKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Integration Password' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'integrationPassword',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.integrationPassword ?? '',
    warning: macros.configWarning('integrationPassword', 'formie'),
    errors: integration.getErrors('integrationPassword'),
}) }}

{{ macros.proxyField(fieldVariables, 'booleanMenuField', {
    label: 'Use Sandbox' | t('formie'),
    instructions: 'Whether to use the {name} sandbox.' | t('formie'),
    name: 'useSandbox',
    includeEnvVars: true,
    value: integration.settings.useSandbox ?? false,
    warning: macros.configWarning('useSandbox', 'formie'),
    errors: integration.getErrors('useSandbox'),
}) }}

{% endblock %}