{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Account ID' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'accountId',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.accountId ?? '',
    warning: macros.configWarning('accountId', 'formie'),
    errors: integration.getErrors('accountId'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Secret Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'secretKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.secretKey ?? '',
    warning: macros.configWarning('secretKey', 'formie'),
    errors: integration.getErrors('secretKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Form Base URL' | t('formie'),
    instructions: 'Enter your {name} Form Base URL here if you wish to map to a {name} form.' | t('formie'),
    name: 'formUrl',
    required: false,
    suggestEnvVars: true,
    value: integration.settings.formUrl ?? '',
    warning: macros.configWarning('formUrl', 'formie'),
    errors: integration.getErrors('formUrl'),
}) }}

{% endblock %}
