{% extends 'formie/_layouts/settings' %}

{% set title = 'Fields' | t('formie') %}
{% set bodyClass = 'formie-field-palette-page' %}
{% set fullPageForm = craft.app.config.general.allowAdminChanges %}

{% block actionButton %}
    {% if craft.app.config.general.allowAdminChanges %}
        <input type="submit" class="btn submit" value="{{ 'Save' | t('formie') }}">
    {% endif %}
{% endblock %}

{% block content %}

{% if craft.app.config.general.allowAdminChanges %}
    {{ actionInput('formie/settings/save-field-palette') }}
    {{ redirectInput('formie/settings/fields') }}
    <input type="hidden" name="palette" id="formie-field-palette-payload" value="{{ fieldPalettePayload|e('html_attr') }}">
{% endif %}

<div class="formie-field-palette"></div>

{% endblock %}

{% css %}
.formie-field-palette-page #content {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.formie-field-palette-page .formie-field-palette-intro {
    margin-bottom: 24px;
}
{% endcss %}
