{% extends 'formie/_layouts/settings' %}

{% import '_includes/forms' as forms %}

{% block content %}

<h2>{{ 'Fields' | t('formie') }}</h2>

<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="formie/settings/save-settings">
    {{ redirectInput('formie/settings/fields') }}
    {{ csrfInput() }}

    {% namespace 'settings' %}
        {{ forms.checkboxGroupField({
            label: 'Disabled Field Types' | t('formie'),
            instructions: 'Select any field types to be unavailable to pick from when creating your forms.' | t('formie'),
            id: 'disabledFields',
            name: 'disabledFields',
            options: disabledFields,
            values: settings.disabledFields,
        }) }}
    {% endnamespace %}

    <hr>

    <input type="submit" class="btn submit" value="{{ 'Save' | t('formie') }}">
</form>

{% endblock %}
