{% extends 'formie/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set fullPageForm = true %}
{% set selectedTab = 'general' %}
{% set pageTitle = 'General Settings' | t('formie') %}
{% set pageAction = 'formie/settings/save-settings' %}
{% set pageUrl = 'formie/settings/general' %}

{% block settingsContent %}
{{ forms.textField({
    label: 'Plugin Name' | t('formie'),
    instructions: 'Plugin name for the end user.' | t('formie'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    autofocus: true,
    required: true,
    errors: settings.getErrors('pluginName'),
    warning: macros.configWarning('pluginName', 'formie'),
}) }}

{{ forms.selectField({
    label: 'Default Page' | t('formie'),
    instructions: 'Select the default sub-nav page to show when clicking on "Formie" in the main menu.' | t('formie'),
    id: 'defaultPage',
    name: 'defaultPage',
    options: [{
        label: 'Forms',
        value: 'forms',
    },
    {
        label: 'Submissions',
        value: 'submissions',
    }],
    value: settings.defaultPage,
    warning: macros.configWarning('defaultPage', 'formie'),
}) }}
{% endblock %}
