.log-label {
    white-space: pre-wrap;
}

.log-label code {
    white-space: normal;
    font-size: 11px !important;
    line-height: 18px;
}

.log-label.color-32 {
    color: #27AE60;
}

.log-label.color-31 {
    color: #D0021B;
}

.log-label.color-33 {
    color: #F2842D;
}