// ==========================================================================
// Submission Edit
// ==========================================================================

#fields .field .fui-row:not(:last-child) {
    margin-bottom: 24px;
}



// ==========================================================================
// Payments Info
// ==========================================================================

.payments-meta {
    border: 1px #cdd8e4 solid;
    margin-left: var(--neg-padding) !important;
    margin-right: var(--neg-padding) !important;
    border-radius: var(--large-border-radius);
    padding: 12px 24px;
}

.payments-meta .status {
    &.active,
    &.success {
        border-color: var(--teal-500) !important;
        background-color: var(--teal-500);
    }

    &.pending,
    &.processing {
        border-color: var(--yellow-700) !important;
        background-color: var(--yellow-700);
    }

    &.cancelled,
    &.failed {
        border-color: var(--red-600) !important;
        background-color: var(--red-600);
    }

    &.expired {
        border-color: var(--yellow-300) !important;
        background-color: var(--yellow-300);
    }

    &.suspended,
    &.redirect {
        border-color: var(--blue-600) !important;
        background-color: var(--blue-600);
    }
}

.payments-meta .external:after {
    font-family: "Craft";
    speak: none;
    font-feature-settings: "liga","dlig";
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    direction: ltr;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: text-bottom;
    word-wrap: normal !important;
    user-select: none;
    opacity: 0.8;
    content: "external";
}


// Import fields used on the front-end, but also in submissions
@import '../../../frontend/src/scss/variables';
@import '../../../frontend/src/scss/fields/rich-text';
@import '../../../frontend/src/scss/fields/repeater';
@import 'craftcms-sass/mixins';



// ==========================================================================
// Field Overrides
// ==========================================================================

.fui-rich-text-button {
    border: 0;
}

.fui-rich-text-content {
    padding: 50px 0.75rem 0.5rem;
    border: 1px solid #CBD5E0;
    border-radius: 0.25rem;
    background-color: #fff;

    &:focus {
        @include input-focused-styles;
    }
}

.fui-instructions {
    color: #718096;
    font-size: 0.875rem;
    line-height: 1.25;
    display: block;
    margin-top: 0.5rem;
}

.fui-repeater-remove-btn {
    background-color: #d8dee7;
}

.fui-repeater-row .fui-fieldset {
    position: static;
}

.fui-repeater-row .field {
    flex: 1;
    margin: 0 10px !important;
}

.fui-group-field {
    padding: 15px;
}
