// ==========================================================================

// Formie for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

@import '../../../forms/src/scss/grid';
@import '../../../forms/src/scss/integrations';
@import './submission-index';
@import './submission';
@import './sent-notifications';
@import './settings';


// ==========================================================================
// Plugin Settings
// ==========================================================================

[v-cloak] {
    display: none !important;
}

