@layer formie-base, formie-theme-base, formie-theme;

@layer formie-base {

    .formie-form,
    .formie-form fieldset,
    .formie-form legend,
    .formie-form h1,
    .formie-form h2,
    .formie-form h3,
    .formie-form h4,
    .formie-form h5,
    .formie-form h6,
    .formie-form p,
    .formie-form ul,
    .formie-form ol,
    .formie-form menu,
    .formie-form dl,
    .formie-form dd,
    .formie-form blockquote,
    .formie-form figure {
        margin: 0;
        padding: 0;
    }

    .formie-form,
    .formie-form *,
    .formie-form *::before,
    .formie-form *::after {
        box-sizing: border-box;
    }

    .formie-page-container,
    .formie-field-layout,
    .formie-form fieldset,
    .formie-form legend {
        border: 0;
        min-inline-size: 0;
    }

    /* Fix for Firefox display issue in fieldset */
    body:not(:-moz-handler-blocked) .formie-form fieldset {
        display: table-cell;
    }

    .formie-form legend {
        /* legend should be `display: contents` to work with grid */
        display: contents;
    }

    .formie-form legend * {
        /* legend should be `display: contents` to work with grid */
        display: contents;
    }

    .formie-sr-only {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
        display: block !important;
    }

    [data-formie-conditionally-hidden],
    [data-formie-page-hidden],
    [data-formie-row-hidden],
    .formie-conditionally-hidden,
    .formie-page-hidden,
    .formie-row-hidden,
    [hidden] {
        display: none !important;
    }
}