{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% do view.registerAssetBundle('verbb\\formie\\web\\assets\\cp\\CpAsset') -%}

{% set jsFile = view.getAssetManager().getPublishedUrl('@verbb/formie/web/assets/frontend/dist/js/formie.js', true) %}
{% do view.registerJsFile(jsFile) %}

{% set isNew = submission.id ? false : true %}
{% set form = submission.getForm() %}

{% set crumbs = [
    { label: craft.formie.getPluginName() | t('formie'), url: url('formie') },
    { label: 'Submissions' | t('formie'), url: url('formie/submissions') },
] %}

{% if currentUser.can('formie-editSubmissions') or currentUser.can('formie-manageSubmission:' ~ form.uid) %}
    {% set fullPageForm = true %}
{% endif %}

{% set bodyClass = 'fui-body fui-submission' %}
{% set selectedSubnavItem = 'submissions' %}
{% set saveShortcutRedirect = '{cpEditUrl}' %}

{% hook 'formie.cp.submissions.edit' %}

{% block actionButton %}

{% if currentUser.can('formie-editSubmissions') or currentUser.can('formie-manageSubmission:' ~ form.uid) %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save' | t('formie') }}">

            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="formsubmit" data-redirect="{{ saveShortcutRedirect | hash }}">
                            {{ "Save and continue editing" | t('app') }}
                            <span class="shortcut">⌘S</span>
                        </a>
                    </li>

                    <li>
                        <a class="formsubmit" data-param="saveAction" data-value="draft" data-redirect="{{ saveShortcutRedirect | hash }}">
                            {{ "Save as draft" | t('app') }}
                        </a>
                    </li>
                </ul>

                {% if not isNew %}
                    <hr>
                    <ul>
                        <li><a class="formsubmit error" data-action="formie/submissions/delete-submission" data-confirm="{{ 'Are you sure you want to delete this submission?' | t('formie') }}" data-redirect="{{ 'formie/submissions' | hash }}">{{ 'Delete' | t('app') }}</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block content %}

{% set attributes = {
    id: form.formId,
    'data-fui-form': formConfigJson,
} %}

<div {{ attr(attributes) }}>
    <div class="fui-i">
        <input type="hidden" name="action" value="formie/submissions/save-submission">
        <input type="hidden" name="handle" value="{{ submission.form.handle }}">
        {{ redirectInput('formie/submissions') }}
        {{ csrfInput() }}

        {% if not isNew %}
            <input type="hidden" name="submissionId" value="{{ submission.id }}">
        {% endif %}

        {% if craft.app.getIsMultiSite() %}
            <input type="hidden" name="siteId" value="{{ submission.siteId }}">
        {% endif %}

        <div id="fields">
            {% set fieldLayout = submission.getFieldLayout() %}

            {% for tab in fieldLayout.getTabs() %}
                <div id="{{ tab.getHtmlId() }}"{% if not loop.first %} class="hidden"{% endif %}>
                    {% set rows = craft.formie.plugin.fields.groupIntoRows(tab.getCustomFields()) %}

                    {% namespace 'fields' %}
                        {% for row in rows %}
                            {% for field in row.fields %}
                                {% if field.type == 'verbb\\formie\\fields\\formfields\\Heading' %}
                                    {% include 'formie/_formfields/heading/input' %}
                                {% else %}
                                    {% include '_includes/field' with {
                                        field: field,
                                        element: submission,
                                        required: field.required,
                                    } %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endnamespace %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% hook 'formie.cp.submissions.edit.content' %}

{% endblock %}

{% block details %}

<div id="settings" class="meta">
    {{ forms.textField({
        label: 'Title' | t('formie'),
        id: 'title',
        name: 'title',
        value: submission.title,
        placeholder: 'Enter title' | t('formie'),
    }) }}

    <div class="field">
        <div class="heading">
            <label class="">{{ 'Form' | t('formie') }}</label>
        </div>

        <div class="input ltr">
            <a href="{{ submission.form.cpEditUrl }}">{{ submission.form }}</a>
        </div>
    </div>

    {% if submission.hasStatuses() %}
        {% set statuses = craft.formie.plugin.statuses.getAllStatuses() %}

        {{ forms.hidden({
            id: 'statusId',
            name: 'statusId',
            value: submission.getStatusModel(true).id,
        }) }}

        {% set statusField %}
            <div>
                <a id="status-menu-btn" class="btn menubtn" href="javascript:;">
                    <span class="status {{ submission.getStatusModel(true).color }}"></span>{{ submission.getStatusModel(true).name }}
                </a>

                <div class="menu" id="status-menu-select">
                    <ul class="padded">
                        {% for status in statuses %}
                            <li>
                                <a data-val="{{ status.id }}" data-label="{{ status.name }}" data-color="{{ status.color }}" {% if submission.statusId == status.id %}class="sel"{% endif %} href="javascript:;">
                                    <span class="status {{ status.color }}"></span>{{ status.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endset %}

        {{ forms.field({
            label: 'Status' | t('formie'),
        }, statusField) }}
    {% endif %}

    {% if form.settings.collectUser %}
        {% set user = submission.getUser() %}

        {{ forms.elementSelectField({
            status: submission.getAttributeStatus('userId'),
            label: 'User' | t('app'),
            id: 'user',
            name: 'user',
            elementType: 'craft\\elements\\User',
            selectionLabel: 'Choose' | t('app'),
            limit: 1,
            elements: user ? [user] : [],
        }) }}
    {% endif %}
</div>

{% if submission.isSpam %}
    <div id="meta-details" class="meta">
        <div class="field">
            <div class="heading">
                <label class="">{{ 'Status' | t('formie') }}</label>
            </div>

            <div class="input ltr">
                <div id="status-value" class="value flex">
                    {% set captcha = submission.getSpamCaptcha() %}
                    
                    {% if captcha %}
                        <img src="{{ captcha.getIconUrl() }}" alt="{{ captcha.displayName() }}" style="width: 15px; height: 15px;">
                    {% else %}
                        <span class="status red"></span>
                    {% endif %}

                    {{ 'Spam' | t('formie') }} <span class="info">{{ submission.spamReason }}</span>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="heading">
                <label class="">{{ 'Mark as Spam' | t('formie') }}</label>
            </div>

            <div>
                {{ forms.lightswitchField({
                    id: 'isSpam',
                    name: 'isSpam',
                    on: submission.isSpam,
                }) }}
            </div>
        </div>
    </div>
{% endif %}

{% set notifications = form.getNotifications() %}

{% if notifications and not isNew %}
    <div id="meta-details" class="meta">
        <div class="field">
            <div class="heading">
                <label class="">{{ 'Email' | t('formie') }}</label>
            </div>

            <div class="input ltr">
                <a class="js-fui-submission-modal-send-btn btn small" data-id="{{ submission.id }}">{{ 'Send Email Notification' | t('formie') }}</a>
            </div>
        </div>
    </div>
{% endif %}

{% set integrations = [] %}

{% for integration in craft.formie.plugin.integrations.getAllEnabledIntegrationsForForm(form) %}
    {% if integration.supportsPayloadSending() %}
        {% set integrations = integrations | merge([integration]) %}
    {% endif %}
{% endfor %}

{% if integrations and not isNew %}
    <div id="meta-details" class="meta">
        {% set integrationsField %}
            <div>
                <a id="integrations-menu-btn" class="btn menubtn" href="javascript:;">
                    {{ 'Select an option' | t('formie') }}
                </a>

                <div class="menu" id="integrations-menu-select">
                    <ul class="padded">
                        {% for integration in integrations %}
                            <li>
                                <a data-integration-id="{{ integration.id }}" data-submission-id="{{ submission.id }}" data-label="{{ integration.name }}" href="javascript:;">
                                    {{ integration.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <span class="spinner hidden integrations-menu-spinner"></span>
            </div>
        {% endset %}

        {{ forms.field({
            label: 'Integrations' | t('formie'),
        }, integrationsField) }}
    </div>
{% endif %}

{% set paymentSummary = submission.getPaymentSummaryHtml() %}

{% if paymentSummary %}
    <fieldset class="payments-meta">
        <legend class="h6">{{ 'Payments' | t('formie') }}</legend>

        {{ paymentSummary | raw }}
    </fieldset>
{% endif %}

{% if not isNew %}
    <div id="meta-details" class="meta read-only">
        {% block meta %}
            {% if not isNew %}
                <div class="data">
                    <div class="heading">{{ 'Submission ID' | t('formie') }}</div>
                    <div class="value">{{ submission.id }}</div>
                </div>
            {% endif %}

            {% if submission.isIncomplete %}
                <div class="data">
                    <h5 class="heading">{{ 'Status' | t('app') }}</h5>
                    <div id="status-value" class="value"><span class="status"></span>{{ 'Incomplete' | t('formie') }}</div>
                </div>
            {% endif %}

            <div class="data">
                <h5 class="heading">{{ 'Created at' | t('app') }}</h5>
                <div id="date-created-value" class="value">{{ submission.dateCreated | datetime('short') }}</div>
            </div>

            <div class="data">
                <h5 class="heading">{{ 'Updated at' | t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ submission.dateUpdated | datetime('short') }}</div>
            </div>

            {% if form.settings.collectIp %}
                <div class="data">
                    <h5 class="heading">{{ 'IP Address' | t('app') }}</h5>
                    <div class="value">{{ submission.ipAddress ?: 'None provided' | t('formie') }}</div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endif %}

{% hook 'formie.cp.submissions.edit.details' %}

{% endblock %}

{% css %}

#integrations-menu-btn {
    overflow: hidden;
    max-width: 100%;
    justify-content: flex-start;
}

{% endcss %}

{% js %}

$(function () {
    $statusSelect = $('#status-menu-btn');

    new Garnish.MenuBtn($statusSelect, {
        onOptionSelect: function(data) {
            var val = $(data).data('val');
            var label = $(data).data('label');
            var color = $(data).data('color');
            $('#statusId').val(val);

            var html = '<span class="status ' + color + '"></span>' + label;
            $statusSelect.html(html);
        }
    });

    $integrationsSelect = $('#integrations-menu-btn');

    new Garnish.MenuBtn($integrationsSelect, {
        onOptionSelect: function(data) {
            var integrationId = $(data).data('integration-id');
            var submissionId = $(data).data('submission-id');
            var label = $(data).data('label');
            var $spinner = $('.integrations-menu-spinner');

            var data = { submissionId: submissionId, integrationId: integrationId };

            if (window.confirm(Craft.t('formie', 'Are you sure you want to trigger the {name} integration?', { name: label }))) {
                $spinner.removeClass('hidden');

                Craft.sendActionRequest('POST', 'formie/submissions/run-integration', { data })
                    .then((response) => {
                        window.location.reload();
                    })
                    .catch(({response}) => {
                        if (response && response.data && response.data.message) {
                            Craft.cp.displayError(response.data.message);
                        } else {
                            Craft.cp.displayError();
                        }
                    })
                    .finally(() => {
                        $spinner.addClass('hidden');
                    });
            }
        }
    });
});

{% endjs %}
