<fieldset class="fui-fieldset fui-layout-{{ field.settings.layout ?? 'vertical' }}" id="{{ options.id }}" data-fui-id="{{ options.dataId }}">
    {{ formieInclude('_includes/legend', { position: 'above' }) }}

    {# For this field, they're the same #}
    {{ formieInclude('_includes/instructions', { position: 'above' }) }}
    {{ formieInclude('_includes/instructions', { position: 'fieldset-start' }) }}

    <input type="hidden" aria-hidden="true" aria-checked="false" name="{{ field.handle }}" value="">

    <div class="fui-layout-wrap">
        {% for option in fieldOptions ?? field.getFieldOptions() %}
            {% set optionId = options.id ~ '-' ~ option.value | kebab %}
            {% set optionDataId = options.dataId ~ '-' ~ option.value | kebab %}
            {% set selected = value and value.getOptions() ? value.contains(option.value) : (option.isDefault ?? false) %}

            <div class="fui-checkbox">
                {% set attributes = {
                    id: optionId,
                    class: [
                        'fui-input',
                        'fui-checkbox-input',
                    ],
                    type: 'checkbox',
                    name: field.handle ~ '[]',
                    required: field.required ? true : false,
                    value: option.value,
                    checked: selected,
                    data: {
                        'fui-id': optionDataId,
                        'fui-message': field.settings.errorMessage | t,
                    },
                    aria: {
                        required: field.required ? 'true' : 'false',
                        checked: selected ? 'true' : 'false',
                    },
                } | merge(field.getInputAttributes()) %}

                <input {{ attr(attributes) }} />
                <label for="{{ optionId }}" class="fui-checkbox-label">{{ option.label | t }}</label>
            </div>
        {% endfor %}
    </div>

    {# For this field, they're the same #}
    {{ formieInclude('_includes/instructions', { position: 'below' }) }}
    {{ formieInclude('_includes/instructions', { position: 'fieldset-end' }) }}

    {{ formieInclude('_includes/legend', { position: 'below' }) }}
</fieldset>
