// ==========================================================================
// Submission Unmark Spam Modal
// ==========================================================================

.formie-unmark-spam-modal .content-summary {
    background-color: var(--gray-050);
    margin: -24px -24px 24px;
    padding: 24px;
}