{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'API Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'apiKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.apiKey ?? '',
    warning: macros.configWarning('apiKey', 'formie'),
    errors: integration.getErrors('apiKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'API Token' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'apiToken',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.apiToken ?? '',
    warning: macros.configWarning('apiToken', 'formie'),
    errors: integration.getErrors('apiToken'),
}) }}

{% set useUat = integration.settings.useUat ?? false %}

{{ macros.proxyField(fieldVariables, 'booleanMenuField', {
    label: 'Use UAT' | t('formie'),
    instructions: 'Whether to use the {name} UAT for testing.' | t('formie'),
    name: 'useUat',
    includeEnvVars: true,
    value: useUat,
    warning: macros.configWarning('useUat', 'formie'),
    errors: integration.getErrors('useUat'),
    toggle: 'uat',
}) }}

<div id="uat" class="{{ not useUat ? 'hidden' }}">
    {{ macros.proxyField(fieldVariables, 'autosuggestField', {
        label: 'UAT API Key' | t('formie'),
        instructions: 'Enter your {name} {label} here.' | t('formie'),
        name: 'uatKey',
        required: true,
        suggestEnvVars: true,
        value: integration.settings.uatKey ?? '',
        warning: macros.configWarning('uatKey', 'formie'),
        errors: integration.getErrors('uatKey'),
    }) }}

    {{ macros.proxyField(fieldVariables, 'autosuggestField', {
        label: 'UAT API Token' | t('formie'),
        instructions: 'Enter your {name} {label} here.' | t('formie'),
        name: 'uatToken',
        required: true,
        suggestEnvVars: true,
        value: integration.settings.uatToken ?? '',
        warning: macros.configWarning('uatToken', 'formie'),
        errors: integration.getErrors('uatToken'),
    }) }}
</div>

{% endblock %}
