// ==========================================================================
// Formulate
// ==========================================================================

.field-wrapper {
    margin: 0 !important;
}

[data-is-showing-errors="true"] .text {
    border-color: #EF4E4E;
}

.field[data-classification="box"] {
    margin: 2px 0;
}

.field[data-classification="box"] .field-wrapper {
    display: flex;
    align-items: center;
}

.field[data-classification="box"] .box-heading {
    padding-left: 5px;
}

