// ==========================================================================
// Form Edit (Fields)
// ==========================================================================

.fui-fields-inner-wrapper {
    overflow: auto;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 100%;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: lighten(#f4f7fb, 2%);
    //     background-image: url('../img/grid.png');
    //     background-size: 20px;
    //     opacity: 0.9;
    // }

    * {
        box-sizing: border-box;
    }
}

.fui-fields-scroll {
    padding: 16px;
}

.fui-fields-pane {
    display: flex;
    margin: -24px;
    position: relative;
    height: calc(100vh - 236px);
}

.fui-fields-wrapper {
    position: relative;
    flex: 1;
    height: 100%;
}

.fui-fields-wrapper > .fui-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-hud {
    max-width: 28rem;
}




//
// Field Tabs
//

.fui-field-tabs {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 11;
    box-shadow: 0 1px 5px 0 rgba(205, 216, 228, 0.25);
}

.fui-editor-tabs {
    position: absolute;
}

.fui-field-tabs .fui-pages-menu {
    padding: 0 3px 0 24px;
}

.fui-field-tabs .fui-tab-btn {
    position: relative;
    padding: 4px 9px;
    margin: 10px 7px;
    border-radius: 3px;
    color: #33475b;
    font-size: 15px;
    margin-left: auto;
    border: 1px solid #d7dce2;
    background-image: linear-gradient(#fff, #fafafa);

    &:hover {
        text-decoration: none;
    }

    &:after {
        content: "settings";
        position: relative;
        top: 1px;
        font-family: Craft, sans-serif;
    }
}

.fui-menu {
    padding: 0;
    overflow: hidden;
}

.fui-menu ul li a {
    margin: 0;
    padding: 6px 14px 6px 30px !important;
    font-size: 13px;
}

.fui-menu li a[data-icon]:before,
.fui-menu li a.icon:before,
.fui-menu li a.sel:before {
    margin: 3px 0 0 -20px !important;
}


//
// Dropzones
//

.form-field-drop-target-container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 6px;

    &.is-active {
        z-index: 10;
    }
}

.dropzone-holder {
    position: relative;
}

.form-field-dropzone {
    z-index: 1;
    position: absolute;
    // background-color: rgba(50, 50, 50, 0.2);
}

.form-field-dropzone-horizontal {
    height: 65px;
    width: 100%;
    top: -25px;
}

.dashed-dropzone {
    border: 1px dashed #0D99F2;
    border-radius: 1px;
    background-color: #e5f5f8;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    .is-disabled & {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .is-active > .dropzone-holder > & {
        opacity: 1;
        visibility: visible;
    }

    .is-hover & {
        background-color: #0D99F2;
    }
}

.dashed-dropzone-horizontal {
    height: 11px;
}

.form-field-drop-target {
    width: 0;
    z-index: 1;
    transform: translateY(2.4em) translateX(-5px);

    &.is-active {
        z-index: 10;
    }
}

.form-field-dropzone-vertical {
    z-index: 2;
    top: -20px;
    left: -10px;
    width: 30px;
    height: 80px;
}

.dashed-dropzone-vertical {
    width: 11px;
    height: 40px;
}

//
// New field dropdown
//

.dropzone-new-field {
    position: relative;
    background-color: #fff;
    border: 1px dashed #8aa2bd;
    border-radius: 4px;
    color: #7c98b6;
    text-align: center;
    margin: 15px;
    padding: 30px;
    transition: all 0.2s ease;
    z-index: 10;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    &.is-hover {
        border: 1px dashed #0D99F2;
        background-color: #e5f5f8;
    }

    span {
        // Prevents Firefox from child elements triggering drag-leave
        pointer-events: none;
    }
}



