// ==========================================================================
// Tooltips
// ==========================================================================

@import 'floating-vue/dist/style.css';

$color: #1c2e36;

.v-popper--theme-tooltip {
    .v-popper__inner {
        background-color: $color;
        padding: 4px 8px;
        font-size: 12px;
        color: #fff;
        border-radius: 3px;
    }

    .v-popper__arrow-outer {
        border-color: $color;
    }
}

