// ==========================================================================
// Tooltips
// ==========================================================================

$color: hsla(210, 10%, 30%, 1);

div[data-popover="tooltip"] {
    width: auto;
    background-color: #1c2e36;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    color: #fff;
    width: auto;

    &.dropdown-position-top:before {
        border-top-color: $color;
    }

    &.dropdown-position-bottom:before {
        border-bottom-color: $color;
    }

    &.dropdown-position-left:before {
        border-left-color: $color;
    }

    &.dropdown-position-right:before {
        border-right-color: $color;
    }
}

.fui-tooltip {
    display: block;
    z-index: 10000;

    .tooltip-inner {
        width: auto;
        background-color: #1c2e36;
        padding: 4px 8px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        border-radius: 3px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: #1c2e36;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            background: $color;
            color: #000;
            padding: 24px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(#000, 0.1);
        }

        .popover-arrow {
            border-color: $color;
        }
    }

    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }
}
