/* General Integrations */
.fui-integrations-pane {
    display: flex;
    margin: -24px;
    position: relative;

    .sidebar {
        padding: 0 0 14px;
    }

    .sidebar .heading {
        margin: 0;
        width: auto;
        padding: 14px 14px 2px;
    }

    .sidebar nav li a {
        padding: 7px 14px !important;
    }

    .sidebar .status {
        margin: 0 !important;
    }
}

.fui-integrations-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

    h2 {
        margin: 0;
    }
}

.fui-integrations-check-wrap {
    display: flex;
    align-items: center;

    .btn {
        margin-left: 10px;
    }
}

// Form Integrations
#tab-integrations .fui-integrations-pane {
    height: calc(100vh - 236px);
}

.fui-integrations-sidebar-wrapper {
    position: relative;
    background-color: #f3f7fc;
    border-radius: 0 6px 6px 0;
    border-left: 1px solid rgba(51, 64, 77, 0.1);
    overflow: auto;
}

.fui-integrations-tabs li {
    width: 100%;
    max-width: 100% !important;
}

.fui-integrations-tabs .formie-integration-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}



/* Forms Integrations */

.fui-form-integrations-wrapper {
    position: relative;
    flex: 1;
    overflow: auto;
    height: 100%;
}

.fui-form-integrations-inner-wrapper {
    padding: 24px;
    overflow: hidden;
}


/* Settings Integrations */
.fui-settings-block {
    padding: 16px;
    background: #f3f7fc;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
    margin-bottom: 24px;

    ul {
        list-style-type: disc;
    }

    ol, ul {
        padding-left: 20px !important;
    }
}

