// ==========================================================================
// Page Tabs
// ==========================================================================

.fui-pages-menu {
    display: flex;
    margin: 0;
    padding: 0 24px;
    border-bottom: 1px solid #e6e6e6;
    list-style: none;
    border-top-width: 0;
}

.fui-pages-menu ul {
    display: flex;
    margin-left: -15px;
    overflow-x: auto;
    overflow-y: hidden;
}

.fui-pages-menu li {
    display: flex;
    flex: 1 0 auto;
}

.fui-tab-item {
    position: relative;
    cursor: pointer;
    padding: 14px 15px 12px;
    color: #7e8fa0;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: none;
   
    // Button resets
    outline: none;
    font-family: inherit;
    background: #fff;
    border: 0;
    margin: 0;
    cursor: pointer;

    &:hover {
        color: #0D99F2;
        text-decoration: none;
    }

    &[aria-selected="true"]::after,
    &.sel::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 0;
        width: calc(100% - 30px);
        height: 2px;
        background: #0D99F2;
    }

    &.is-hover {
        border-radius: 1px;
        background-color: #e5f5f8;
    }

    span {
        // Prevents Firefox from child elements triggering drag-leave
        pointer-events: none;
    }

}
