// ==========================================================================

// Formie for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

// Framework
@import "grid";
@import "fui-tooltips";
@import "font-awesome";
@import "loading";
@import "formkit";

.sr-only {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

[v-cloak] {
    display: none;
}

// Form Edit
@import "form-start";
@import "form-field";
@import "form-fields";
@import "form-fields-sidebar";
@import "field-repeater";
@import "field-group";
@import "field-signature";

// Form Pages
@import "pages";

// Form Fields
@import "field-modal";

// Existing Field/Notifications
@import "existing-modal";

// Integrations
@import "integrations";



//
// General - to move
//

.fui-settings-wrap {
    padding: 16px;
    background: #f3f7fc;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
}

.fui-form-template-spinner {
    margin-top: -18px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-weight: 600;
    color: #9ba5b1;

    .spinner {
        margin-right: 10px;
    }
}

.fui-btn-transparent {
    background: transparent !important;
}
