{% set element = element ?? null %}

{% set html %}
    <fieldset class="fui-fieldset">
        {% set id = row.id ?? '__ROW__' %}
        
        {% namespace "rows[#{id}][fields]" %}
            {# There will only ever be 1 page. #}
            {% set page = field.fieldLayout.pages[0] ?? null %}
            
            {% if page %}
                <div class="fui-field-rows">
                    {% for row in page.rows %}
                        <div class="fui-row fui-page-row">
                            {% for field in row.fields %}
                                {% include 'formie/_formfields/repeater/field' with {
                                    field: field,
                                    required: field.required,
                                    element: element,
                                } only %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endnamespace %}

        {% set buttonAttributes = {
            class: 'btn fui-repeater-remove-btn',
            type: 'button',
            'data-remove-repeater-row': field.handle,
        } %}

        <button {{ attr(buttonAttributes) }}>
            {{ 'Remove' | t('formie') }}
        </button>

        {{ hiddenInput('sortOrder[]', id) }}
    </fieldset>
{% endset %}

{{ tag('div', {
    class: 'fui-repeater-row',
    'data-repeater-row': true,
    html: html,
}) }}
