<div id="{{ id }}" class="repeaterContainer rowLayout">
    <div class="rowLayoutContainer">
        {% set totalNewRows = 0 %}

        {% for row in rows %}
            {% set rowId = row.id %}
            {% set rowIsNew = rowId is empty %}
            
            {% if rowIsNew %}
                {% set totalNewRows = totalNewRows + 1 %}
                {% set rowId = 'new' ~ totalNewRows %}
            {% endif %}

            {% set baseInputName = "#{name}[rows][#{rowId}]" %}

            {# only register a delta name for this row if it's not new #}
            {% if not rowIsNew %}
                {% do view.registerDeltaName(baseInputName) %}
            {% endif %}

            <div class="repeaterRow" data-id="{{ rowId }}">
                {{ hiddenInput("#{name}[sortOrder][]", rowId) }}

                <div class="repeater-layout-row-new">
                    <div class="repeater-layout-row-new-body">
                        {% include 'formie/_formfields/repeater/fields' with {
                            namespace: "#{baseInputName}[fields]",
                            element: row,
                            fields: nestedField.getFieldLayout().getFields(),
                            settings: nestedField,
                            registerDeltas: not rowIsNew,
                        } %}
                    </div>

                    <div class="repeater-layout-row-new-actions tfoot-actions">
                        <div class="floating reorder"><a class="move icon" title="{{ 'Reorder' | t('site') }}"></a></div>
                        <div class="floating delete"><a class="delete icon" title="{{ 'Delete' | t('site') }}"></a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="repeaterAddRow btn add icon">
        {{ nestedField.addLabel | default('Add another row') | t('formie') }}
    </div>
</div>
