{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'API App ID' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'appId',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.appId ?? '',
    warning: macros.configWarning('appId', 'formie'),
    errors: integration.getErrors('appId'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'API Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'apiKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.apiKey ?? '',
    warning: macros.configWarning('apiKey', 'formie'),
    errors: integration.getErrors('apiKey'),
}) }}

{% endblock %}