{% set value = field.getDisplayTypeValue(value) %}

{% if field.displayType == 'dropdown' %}
    {% set attributes = {
        id: options.id,
        class: [ 'fui-select' ],
        name: field.handle ~ '[]',
        multiple: field.multiple ? true : false,
        required: field.required ? true : false,
        data: {
            'fui-id': options.dataId,
            'fui-message': field.settings.errorMessage | t,
        },
        aria: {
            required: field.required ? 'true' : 'false',
        },
    } | merge(field.getInputAttributes()) %}

    <select {{ attr(attributes) }}>
        {% for option in field.getFieldOptions() %}
            {% if field.multiple %}
                {% set selected = value ? value.contains(option.value) : (option.isDefault ?? false) %}
            {% else %}
                {% set selected = value and value.value ? value.value == option.value : (option.isDefault ?? false) %}
            {% endif %}

            {% set level = option.level ?? null %}

            <option value="{{ option.value }}" {{ selected ? ' selected' }}>{% if field.settings.showStructure and level %}{% for i in 1..level %}-{% endfor %} {% endif %}{{ option.label | t }}</option>
        {% endfor %}
    </select>
{% endif %}

{% if field.displayType == 'checkboxes' %}
    {% include 'fields/_includes/element-checkboxes' %}
{% endif %}

{% if field.displayType == 'radio' %}
    {% include 'fields/radio' with { fieldName: field.handle ~ '[]' } %}
{% endif %}
