<fieldset class="fui-fieldset fui-layout-{{ field.settings.layout ?? 'vertical' }}" id="{{ options.id }}">
    {% include '_legend' with { position: 'above' } %}

    {% include '_instructions' with { position: 'fieldset-start' } %}

    <input type="hidden" aria-hidden="true" aria-checked="false" name="{{ field.handle }}" value="">

    <div class="fui-layout-wrap">
        {% for option in field.getFieldOptions() %}
            {% set optionId = options.id ~ '-' ~ option.value | kebab %}
            {% set selected = value ? value.contains(option.value) : (option.isDefault ?? false) %}

            <div class="fui-checkbox">
                {% set attributes = {
                    id: optionId,
                    class: [
                        'fui-input',
                        'fui-checkbox-input',
                    ],
                    type: 'checkbox',
                    name: field.handle ~ '[]',
                    required: field.required ? true : false,
                    value: option.value,
                    checked: selected,
                    aria: {
                        required: field.required ? 'true' : 'false',
                        checked: selected ? 'true' : 'false',
                    },
                } | merge(field.getInputAttributes()) %}

                <input {{ attr(attributes) }} />
                <label for="{{ optionId }}" class="fui-checkbox-label">{{ option.label | t }}</label>
            </div>
        {% endfor %}
    </div>

    {% include '_instructions' with { position: 'fieldset-end' } %}

    {% include '_legend' with { position: 'below' } %}
</fieldset>
