{% set attributes = {
    id: options.id,
    class: [ 'fui-select' ],
    name: field.handle ~ (field.multiple ? '[]'),
    multiple: field.multiple ? true : false,
    required: field.required ? true : false,
    data: {
        'fui-message': field.settings.errorMessage | t,
    },
    aria: {
        required: field.required ? 'true' : 'false',
    },
} | merge(field.getInputAttributes()) %}

{% set hasOptgroups = false %}

<select {{ attr(attributes) }}>
    {% for option in field.options %}
        {% if option.optgroup is defined %}
            {% if hasOptgroups %}
                </optgroup>
            {% else %}
                {% set hasOptgroups = true %}
            {% endif %}

            <optgroup label="{{ option.optgroup | t }}">
        {% else %}
            {% if field.multiple %}
                {% set selected = value ? value.contains(option.value) : (option.isDefault ?? false) %}
            {% else %}
                {% set selected = value and value.value ? value.value == option.value : (option.isDefault ?? false) %}
            {% endif %}

            <option value="{{ option.value }}" {{ selected ? ' selected' }}>{{ option.label | t }}</option>
        {% endif %}
    {% endfor %}

    {% if hasOptgroups %}
        </optgroup>
    {% endif %}
</select>
