{% set limitType = field.limitType ?? '' %}
{% set limitAmount = field.limitAmount ?? false %}
{% set limit = (field.limit ?? false) and limitAmount %}
{% set maxlength = limit and limitType == 'characters' ? limitAmount %}
{% set wordlimit = limit and limitType == 'words' ? limitAmount %}

{% if field.useRichText %}
    {{ fieldtag('fieldRichText') }}

    <div style="display: none !important;">
        {{ fieldtag('fieldInput', {
            text: value,
        }) }}
    </div>
{% else %}
    {{ fieldtag('fieldInput', {
        text: value,
    }) }}
{% endif %}

{% if maxlength or wordlimit %}
    {% if maxlength %}
        {% fieldtag 'fieldLimit' with { 'data-max-chars': maxlength } %}
            {{- '{startTag}{num}{endTag} characters left' | t('formie', {
                num: maxlength,
                startTag: '<span class="fui-limit-number">',
                endTag: '</span>',
            }) | raw -}}
        {% endfieldtag %}
    {% endif %}

    {% if wordlimit %}
        {% fieldtag 'fieldLimit' with { 'data-max-words': wordlimit } %}
            {{- '{startTag}{num}{endTag} words left' | t('formie', {
                num: wordlimit,
                startTag: '<span class="fui-limit-number">',
                endTag: '</span>',
            }) | raw -}}
        {% endfieldtag %}
    {% endif %}
{% endif %}
