{% set value = field.getDisplayTypeValue(value) %}

{% if field.displayType == 'dropdown' %}
    {% set attributes = {
        id: options.id,
        class: [ 'fui-select' ],
        name: field.handle ~ '[]',
        required: field.required ? true : false,
        data: {
            'fui-message': field.settings.errorMessage | t,
        },
        data: {
            'fui-id': options.dataId,
            required: field.required ? 'true' : 'false',
        },
    } | merge(field.getInputAttributes()) %}

    <select {{ attr(attributes) }}>
        {% for option in field.getFieldOptions() %}
            {% set selected = value and value.value ? value.value == option.value : (option.isDefault ?? false) %}

            <option value="{{ option.value }}" {{ selected ? ' selected' }}>{{ option.label | t }}</option>
        {% endfor %}
    </select>
{% endif %}

{% if field.displayType == 'checkboxes' %}
    {% include 'fields/_includes/element-checkboxes' %}
{% endif %}

{% if field.displayType == 'radio' %}
    {% include 'fields/radio' with { fieldName: field.handle ~ '[]' } %}
{% endif %}
