<fieldset class="fui-fieldset fui-layout-{{ field.settings.layout ?? 'vertical' }}" id="{{ options.id }}">
    {% include 'formie/form-template/_includes/legend' with { position: 'above' } %}

    {% include 'formie/form-template/_includes/instructions' with { position: 'fieldset-start' } %}

    <div class="fui-layout-wrap">
        {% for option in field.getFieldOptions() %}
            {% set optionId = options.id ~ '-' ~ option.value | kebab %}
            {% set selected = value and value.value ? option.value == value.value : (option.isDefault ?? false) %}

            <div class="fui-radio">
                {% set attributes = {
                    id: optionId,
                    class: [
                        'fui-input',
                        'fui-radio-input',
                    ],
                    type: 'radio',
                    name: field.handle,
                    required: field.required ? true : false,
                    value: option.value,
                    checked: selected,
                    data: {
                        'fui-message': field.settings.errorMessage | t,
                    },
                    aria: {
                        required: field.required ? 'true' : 'false',
                        checked: selected ? 'true' : 'false',
                    },
                } | merge(field.getInputAttributes()) %}

                <input {{ attr(attributes) }} />
                <label for="{{ optionId }}" class="fui-radio-label">{{ option.label | t }}</label>
            </div>
        {% endfor %}
    </div>

    {% include 'formie/form-template/_includes/instructions' with { position: 'fieldset-end' } %}

    {% include 'formie/form-template/_includes/legend' with { position: 'below' } %}
</fieldset>
