{% set limitType = field.limitType ?? '' %}
{% set limitAmount = field.limitAmount ?? false %}
{% set limit = (field.limit ?? false) and limitAmount %}
{% set maxlength = limit and limitType == 'characters' ? limitAmount %}
{% set wordlimit = limit and limitType == 'words' ? limitAmount %}

{% set attributes = {
    type: 'text',
    id: options.id,
    class: [ 'fui-input' ],
    name: field.handle,
    placeholder: field.placeholder | t,
    required: field.required ? true : false,
    value: value,
    maxlength: maxlength ?: false,
    data: {
        wordlimit: wordlimit ?: false,
        'fui-message': field.settings.errorMessage | t,
    },
    aria: {
        required: field.required ? 'true' : 'false',
    },
} | merge(field.getInputAttributes()) %}

<input {{ attr(attributes) }} />

{% if maxlength or wordlimit %}
    {% if maxlength %}
        <small class="fui-instructions fui-limit" id="{{ options.id }}-max" data-max-chars="{{ maxlength }}">
            {{ '{num} characters left' | t('formie', { num: maxlength }) | raw }}
        </small>
    {% endif %}

    {% if wordlimit %}
        <small class="fui-instructions fui-limit" id="{{ options.id }}-max" data-max-words="{{ wordlimit }}">
            {{ '{num} words left' | t('formie', { num: wordlimit }) | raw }}
        </small>
    {% endif %}
{% endif %}
