{% set value = field.getDisplayTypeValue(value) %}

{% if field.displayType == 'dropdown' %}
    {% set valueJson = value ? value.all() | map(tag => {
        value: tag.title,
        id: tag.id,
    }) : [] %}

    {% set attributes = {
        id: options.id,
        class: [ 'fui-input' ],
        name: field.handle,
        required: field.required ? true : false,
        value: valueJson ? valueJson | json_encode : '',
        autocomplete: 'off',
        data: {
            'fui-id': options.dataId,
            'formie-tags': tags,
            'fui-message': field.settings.errorMessage | t,
        },
        aria: {
            required: field.required ? 'true' : 'false',
        },
    } | merge(field.getInputAttributes()) %}

    <input {{ attr(attributes) }} />

    {% set cssFile = view.getAssetManager().getPublishedUrl('@verbb/formie/web/assets/frontend/dist/css/fields/tags.css', true) %}
    {% do view.registerCssFile(cssFile) %}
{% endif %}

{% if field.displayType == 'checkboxes' %}
    {{ formieInclude('fields/_includes/element-checkboxes') }}
{% endif %}

{% if field.displayType == 'radio' %}
    {{ formieInclude('fields/radio', { fieldName: field.handle ~ '[]' }) }}
{% endif %}
