{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Public API Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'publicApiKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.publicApiKey ?? '',
    warning: macros.configWarning('publicApiKey', 'formie'),
    errors: integration.getErrors('publicApiKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Private API Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'privateApiKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.privateApiKey ?? '',
    warning: macros.configWarning('privateApiKey', 'formie'),
    errors: integration.getErrors('privateApiKey'),
}) }}

{% endblock %}
