{% import '_includes/forms' as forms %}

{% set handle = integration.handle %}
{% set formSettings = integration.getFormSettings().getSettings() %}

{% set mapToProspect = form.settings.integrations[handle].mapToProspect ?? '' %}
{% set mapToOpportunity = form.settings.integrations[handle].mapToOpportunity ?? '' %}
{% set enableFormHandler = form.settings.integrations[handle].enableFormHandler ?? '' %}

<field-select
    label="{{ 'Opt-In Field' | t('formie') }}"
    instructions="{{ 'Choose a field to opt-in to {name}. For example, you might only wish to record user data if they provide a value for a field of your choice - commonly, an Agree field.' | t('formie', { name: integration.displayName() }) }}"
    id="opt-in-field"
    name="optInField"
    :value="get(form, 'settings.integrations.{{ handle }}.optInField')"
></field-select>

<hr>

<integration-form-settings handle="{{ handle }}" :form-settings="{{ formSettings | json_encode }}">
    <template v-slot="{ get, isEmpty, input, settings, sourceId, loading, refresh, error, errorMessage, getSourceFields }">
        <div class="field">
            <button class="btn" :class="{ 'fui-loading fui-loading-sm': loading }" data-icon="refresh" @click.prevent="refresh">{{ 'Refresh Integration' | t('formie') }}</button>
        </div>

        <div v-if="error" class="error" style="margin-top: 10px;" v-cloak>
            <span data-icon="alert"></span>
            <span v-html="errorMessage"></span>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Prospect' | t('formie'),
            instructions: 'Whether to map form data to {name} Prospects.' | t('formie', { name: integration.displayName() }),
            id: 'mapToProspect',
            name: 'mapToProspect',
            on: mapToProspect,
            toggle: 'map-to-prospect',
        }) }}

        <div id="map-to-prospect" class="{{ not mapToProspect ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Prospect Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Prospect fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="prospect-field-mapping"
                name="prospectFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.prospectFieldMapping')"
                :rows="get(settings, 'prospect')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.prospectFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.prospectFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Opportunity' | t('formie'),
            instructions: 'Whether to map form data to {name} Opportunities.' | t('formie', { name: integration.displayName() }),
            id: 'mapToOpportunity',
            name: 'mapToOpportunity',
            on: mapToOpportunity,
            toggle: 'map-to-opportunity',
        }) }}

        <div id="map-to-opportunity" class="{{ not mapToOpportunity ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Opportunity Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} Opportunity fields.' | t('formie', { name: integration.displayName() }) }}"
                name-label="{{ integration.displayName() }}"
                id="opportunity-field-mapping"
                name="opportunityFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.opportunityFieldMapping')"
                :rows="get(settings, 'opportunity')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.opportunityFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.opportunityFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>
        </div>

        {{ forms.lightswitchField({
            label: 'Enable Form Handler' | t('formie'),
            instructions: 'Whether to send form data to a {name} Form Handler endpoint.' | t('formie', { name: integration.displayName() }),
            id: 'enableFormHandler',
            name: 'enableFormHandler',
            on: enableFormHandler,
            toggle: 'enable-form-handler',
        }) }}

        <div id="enable-form-handler" class="{{ not enableFormHandler ? 'hidden' }}">
            {{ forms.textField({
                label: 'Endpoint URL' | t('formie'),
                instructions: 'Enter the {name} Endpoint URL that will be triggered when a submission is made.' | t('formie', { name: integration.displayName() }),
                name: 'endpointUrl',
                required: true,
                value: form.settings.integrations[handle].endpointUrl ?? '',
                errors: integration.getErrors('endpointUrl'),
            }) }}
        </div>
    </template>
</integration-form-settings>
