{% set html %}
    {% set inputId = handle | namespaceInputId(options.id) %}
    {% set required = field.required ? field.required : attribute(field, handle ~ 'Required') %}

    {% set labelPosition = craft.formie.getLabelPosition(field, form, true) %}
    {% set labelOptions = {
        field: null,
        id: inputId,
        required: required,
        fieldName: attribute(field, handle ~ 'Label'),
        labelPosition: labelPosition,
    } %}

    {% hook 'formie.subfield.field-start' %}

    {% include '_label' with labelOptions | merge({
        position: 'above',
    }) %}

    {% hook 'formie.subfield.input-before' %}

    <div class="fui-input-container">
        {% hook 'formie.subfield.input-start' %}

        {% include ['fields/address/_' ~ handle, 'fields/address/_input'] with {
            autocomplete: autocomplete,
            placeholder: attribute(field, handle ~ 'Placeholder'),
            required: required,
            value: attribute(value, handle) ?? attribute(field, handle ~ 'DefaultValue') ?? '',
            id: inputId,
        } %}

        {% hook 'formie.subfield.input-end' %}
    </div>

    {% hook 'formie.subfield.input-after' %}

    {% include '_label' with labelOptions | merge({
        position: 'below',
    }) %}

    {% hook 'formie.subfield.field-end' %}
{% endset %}

{% set attributes = {
    class: [
        'fui-field',
        'fui-address-field',
        'fui-address-' ~ handle,
        'fui-label-' ~ labelPosition,
        handle != 'country' ? 'fui-text-input-field' : 'fui-select-field',
    ],
    html: html,
} %}

{{ tag(options.renderOptions.fieldTag ?? 'div', attributes) }}
