<fieldset class="fui-fieldset" aria-labelledby="{{ options.labelId }}" data-address-id-{{ field.id }}>
    {{ formieInclude('_includes/legend', { position: 'above' }) }}

    {{ formieInclude('_includes/instructions', { position: 'fieldset-start' }) }}

    <div class="fui-field-rows">
        {% for row in field.getFrontEndSubfields() %}
            <div class="fui-row">
                {% for handle, autocomplete in row %}
                    {% include 'fields/address/_field' %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ formieInclude('_includes/instructions', { position: 'fieldset-end' }) }}

    {{ formieInclude('_includes/legend', { position: 'below' }) }}
</fieldset>
