<fieldset class="fui-fieldset fui-subfield-fieldset" aria-labelledby="{{ options.labelId }}" data-address-id-{{ field.id }}>
    {{ formieInclude('_includes/legend', { position: 'above', labelId: options.labelId }) }}

    {{ formieInclude('_includes/instructions', { position: 'fieldset-start' }) }}

    <div class="fui-field-rows">
        {% for row in field.getFrontEndSubfields() %}
            {% set visibleFields = field.getVisibleFrontEndSubfields(row) %}

            <div class="fui-row {{ not visibleFields ? 'fui-row-empty' }}">
                {% for handle, autocomplete in row %}
                    {{ formieInclude('fields/address/_field') }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ formieInclude('_includes/instructions', { position: 'fieldset-end' }) }}

    {{ formieInclude('_includes/legend', { position: 'below', labelId: options.labelId }) }}
</fieldset>
