{% import '_includes/forms' as forms %}

{% extends 'formie/_formfields/field' %}

{% block field %}
    {% namespace field.handle %}
        {{ forms.text({
            type: 'tel',
            name: 'number',
            required: field.required ? true : false,
            value: value.number ?? '',
            inputAttributes: {
                'data-formie-input': true,
                'data-formie-phone-input': true,
                'data-formie-input-type': 'tel',
            },
        }) }}

        {% if field.countryEnabled %}
            {{ tag('input', {
                type: 'hidden',
                name: 'country',
                value: value.country ?? '',
                'data-formie-input': true,
                'data-formie-phone-country-input': true,
                'data-formie-input-type': 'hidden',
                'data-formie-country': true,
            }) }}
        {% endif %}
    {% endnamespace %}
{% endblock %}
