<div className="formie-field-preview-layout-phone">
    {field.countryEnabled && (
        <div className="formie-field-preview-control formie-field-preview-control--phone-combined">
            <div className="formie-field-preview-phone-country-trigger">
                <span className="formie-field-preview-phone-country-flag" />
                <span className="formie-field-preview-phone-country-code">{field.countryDefaultValue || 'US'}</span>
            </div>

            <input
                type="text"
                className="formie-field-preview-input formie-field-preview-input--phone-inline"
                placeholder={field.placeholder || Craft.t('formie', 'Phone number')}
                value={field.defaultValue || ''}
                readOnly
            />

            <span className="formie-field-preview-icon" dangerouslySetInnerHTML={{ __html: fieldType.icon || '' }} />
        </div>
    )}

    {!field.countryEnabled && (
        <div className="formie-field-preview-control formie-field-preview-control--phone">
        <input
            type="text"
            className="formie-field-preview-input"
            placeholder={field.placeholder || Craft.t('formie', 'Phone number')}
            value={field.defaultValue || ''}
            readOnly
        />

        <span className="formie-field-preview-icon" dangerouslySetInnerHTML={{ __html: fieldType.icon || '' }} />
        </div>
    )}
</div>