{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set handle = integration.handle %}
{% set displayName = integration.displayName() %}
{% set formSettings = integration.getFormSettings().getSettings() %}
{% set mapToMessage = form.settings.integrations[handle].mapToMessage ?? '' %}

{% set values = {
    message: form.settings.integrations[handle].message ?? '',
} | json_encode %}

<field-select
    label="{{ 'Opt-In Field' | t('formie') }}"
    instructions="{{ 'Choose a field to opt-in to {name}. For example, you might only wish to record user data if they provide a value for a field of your choice - commonly, an Agree field.' | t('formie', { name: displayName }) }}"
    id="opt-in-field"
    name="optInField"
    :value="get(form, 'settings.integrations.{{ handle }}.optInField')"
></field-select>

<hr>

<integration-form-settings handle="{{ handle }}" :form-settings="{{ formSettings | json_encode }}" :values="{{ values }}">
    <template v-slot="{ get, isEmpty, input, settings, sourceId, loading, refresh, error, errorMessage, getSourceFields, model }">
        <div class="field">
            <button class="btn" :class="{ 'fui-loading fui-loading-sm': loading }" data-icon="refresh" @click.prevent="refresh">{{ 'Refresh Integration' | t('formie') }}</button>
        </div>

        <div v-if="error" class="error" style="margin-top: 10px;" v-cloak>
            <span data-icon="alert"></span>
            <span v-html="errorMessage"></span>
        </div>

        {{ forms.lightswitchField({
            label: 'Map to Message' | t('formie'),
            instructions: 'Whether to map form data to {name} {label}.' | t('formie', { name: displayName, label: 'Messages' }),
            id: 'mapToMessage',
            name: 'mapToMessage',
            on: mapToMessage,
            toggle: 'map-to-message',
        }) }}

        <div id="map-to-message" class="{{ not mapToMessage ? 'hidden' }}">
            <integration-field-mapping
                label="{{ 'Message Field Mapping' | t('formie') }}"
                instructions="{{ 'Choose how your form fields should map to your {name} {label} fields.' | t('formie', { name: displayName, label: 'Message' }) }}"
                name-label="{{ integration.displayName() }}"
                id="message-field-mapping"
                name="messageFieldMapping"
                :value="get(form, 'settings.integrations.{{ handle }}.messageFieldMapping')"
                :rows="get(settings, 'message')"
            ></integration-field-mapping>

            <ul v-if="!isEmpty(get(form, 'settings.integrations.{{ handle }}.errors.messageFieldMapping'))" class="errors" v-cloak>
                <li v-for="(error, index) in get(form, 'settings.integrations.{{ handle }}.errors.messageFieldMapping')" :key="index">
                    ${ error }
                </li>
            </ul>

            <form-kit
                type="richText"
                label="{{ 'Message' | t('formie') }}"
                help="{{ 'This text will be sent to {name}.' | t('formie', { name: displayName }) }}"
                v-model="model.message"
                :required="true"
                variables="plainTextVariables"
                :buttons="['bold', 'italic', 'variableTag']"
            ></form-kit>

            <input type="hidden" name="message" :value="model.message" />
        </div>
    </template>
</integration-form-settings>
