<input type="hidden" name="{{ field.getHtmlName() }}">
<input type="hidden" name="{{ field.getHtmlName('opayoTokenId') }}">
<input type="hidden" name="{{ field.getHtmlName('opayoSessionKey') }}">
<input type="hidden" name="{{ field.getHtmlName('opayo3DSComplete') }}">

{% fieldtag 'subFieldRows' %}
    {% for row in field.getPaymentSubFields() %}
        {% fieldtag 'subFieldRow' %}
            {% for subField in row %}
                {{ craft.formie.renderField(form, subField) }}
            {% endfor %}
        {% endfieldtag %}
    {% endfor %}
{% endfieldtag %}
