@layer formie-theme {
    .formie-address-location {
        font-weight: 500;
    }

    .formie-autocomplete-wrapper {
        position: relative;
    }

    .formie-autocomplete-placeholder {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 1;
    }
}
