@layer formie-theme {
    .formie-subfield-rows {
        display: grid;
        gap: var(--formie-gap-subfield-rows);
    }

    .formie-subfield-row {
        display: grid;
        gap: var(--formie-gap-subfield-row);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--formie-subfield-row-column-min-width)), 1fr));
        align-items: start;
    }
}
