{% fieldtag 'subFieldRows' %}
    {% for row in field.getRows(false) %}
        {% fieldtag 'subFieldRow' %}
            {% for field in row.getFields(false) %}
                {# Only display one field - the first one enabled #}
                {% if loop.first %}
                    {{ craft.formie.renderField(form, field, {
                        inputName: 'datetime',
                    }) }}
                {% endif %}
            {% endfor %}
        {% endfieldtag %}
    {% endfor %}
{% endfieldtag %}
