{% fieldtag 'subFieldRows' %}
    {% for row in field.getFrontEndSubfields(_context) %}
        {% fieldtag 'subFieldRow' %}
            {% for subField in row %}
                {% set dateValue = null %}
                {% set char = field.getFormattingChar(subField.handle) %}

                {% if subField.handle != 'ampm' %}
                    {% set dateValue = value ? (value | date(char, false) * 1) : null %}
                {% endif %}

                {{ craft.formie.renderField(form, subField, {
                    element: element ?? null,
                    value: dateValue ?? null,
                }) }}
            {% endfor %}
        {% endfieldtag %}
    {% endfor %}
{% endfieldtag %}
