{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'API Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'apiKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.apiKey ?? '',
    warning: macros.configWarning('apiKey', 'formie'),
    errors: integration.getErrors('apiKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'selectField', {
    label: 'Data Center' | t('formie'),
    instructions: 'Select your {name} {label} here.' | t('formie'),
    name: 'dataCenter',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.dataCenter ?? '',
    options: [
        { label: 'General' | t('formie'), value: 'INT' },
        { label: 'AU' | t('formie'), value: 'AU' },
        { label: 'EU' | t('formie'), value: 'EU' },
    ],
    warning: macros.configWarning('dataCenter', 'formie'),
    errors: integration.getErrors('dataCenter'),
}) }}

{% endblock %}