{% namespace 'rows[' ~ id ~ ']' %}
    {% set renderOptions = (options.renderOptions ?? {}) | merge({
        element: block ?? null,
    }) %}

    {# There will only ever be 1 page. #}
    {% set page = field.fieldLayout.pages[0] ?? null %}
    {% if page %}
        <div class="fui-field-rows">
            {% for row in page.rows %}
                <div class="fui-row fui-page-row">
                    {% for field in row.fields %}
                        {{ craft.formie.renderField(form, field, renderOptions) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endnamespace %}

{{ hiddenInput('sortOrder[]', id) }}
