{% namespace field.handle %}
    <div class="fui-group">
        <fieldset class="fui-fieldset">
            {% include '_legend' with { position: 'above' } %}

            {% include '_instructions' with { position: 'fieldset-start' } %}

            {% set block = value.one() ?? null %}
            {% if block %}
                {% include 'fields/group/_row' with {
                    id: block.id,
                } %}
            {% else %}
                {% include 'fields/group/_row' with {
                    id: 'new1',
                } %}
            {% endif %}

            {% include '_instructions' with { position: 'fieldset-end' } %}

            {% include '_legend' with { position: 'below' } %}
        </fieldset>
    </div>
{% endnamespace %}
