{% extends 'formie/_formfields/field' %}

{% block field %}

    {% if field.settings.useMultipleFields %}
        {% namespace field.handle %}
            <div class="formie-subfield-rows" data-formie-subfield-rows>
                {% for row in field.getRows(false) %}
                    <div class="formie-subfield-row" data-formie-subfield-row>
                        {% for field in row.getFields(false) %}
                            {% set value = element.getFieldValue(field.valueKey()) ?? field.getInitialValue(element) %}
                            {% set errors = element.getErrors(field.valueKey()) ?? [] %}

                            {{ field.getSubmissionHtml(value, element) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endnamespace %}
    {% else %}
        {% include '_includes/forms/text' %}
    {% endif %}

{% endblock %}
