// ==========================================================================
// Fields - Group
// ==========================================================================

.fui-group {
    padding: var(--fui-group-padding);
    border: var(--fui-group-border);
    border-radius: var(--fui-group-border-radius);
}
