// ==========================================================================
// Fields - Group
// ==========================================================================

.fui-group {
    padding: 1rem;
    // margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}
