// ==========================================================================
// Fields - Group
// ==========================================================================

.fui-group {
    padding: var(--fui-group-padding);
    border: var(--fui-group-border, 1px solid var(--fui-border-color));
    border-radius: var(--fui-group-border-radius, var(--fui-border-radius));
}
