// ==========================================================================
// Fields - Repeater
// ==========================================================================

.fui-repeater-row {
    position: relative;
    padding: var(--fui-repeater-row-padding);
    margin-bottom: var(--fui-repeater-row-margin-bottom);
    border: var(--fui-repeater-row-border, 1px solid var(--fui-border-color));
    border-radius: var(--fui-repeater-row-border-radius, var(--fui-border-radius));
}

.fui-repeater-add-btn {
    position: relative;
    padding-left: var(--fui-repeater-add-btn-padding-left);

    &::after {
        content: '';
        position: absolute;
        top: var(--fui-repeater-add-btn-top);
        left: var(--fui-repeater-add-btn-left);
        width: var(--fui-repeater-add-btn-width);
        height: var(--fui-repeater-add-btn-height);
        display: block;
        background-repeat: no-repeat;
        background-image: var(--fui-repeater-add-btn-bg-image);
    }
}

.fui-repeater-remove-btn {
    position: absolute;
    top: var(--fui-repeater-remove-btn-top);
    right: var(--fui-repeater-remove-btn-right);
    transform: var(--fui-repeater-remove-btn-transform);
    border-radius: var(--fui-repeater-remove-btn-border-radius);
    height: var(--fui-repeater-remove-btn-height);
    width: var(--fui-repeater-remove-btn-width);
    padding: var(--fui-repeater-remove-btn-padding);
    text-indent: var(--fui-repeater-remove-btn-text-indent);
    border: var(--fui-repeater-remove-btn-border, 1px solid var(--fui-border-color));

    &::after {
        content: '';
        position: absolute;
        top: var(--fui-repeater-remove-btn-icon-top);
        left: var(--fui-repeater-remove-btn-icon-left);
        width: var(--fui-repeater-remove-btn-icon-width);
        height: var(--fui-repeater-remove-btn-icon-height);
        transform: var(--fui-repeater-remove-btn-icon-transform);
        display: block;
        background-repeat: no-repeat;
        background-image: var(--fui-repeater-remove-btn-icon-bg-image);
    }
}

