// ==========================================================================
// Fields - Select
// ==========================================================================

.fui-select {
    &[size],
    &[multiple] {
        height: auto;

        option {
            padding: var(--fui-select-option-padding);
        }
    }

    &:not([multiple]):not([size]) {
        padding-right: var(--fui-select-padding-right);
        background-position: var(--fui-select-bg-position);
        background-repeat: no-repeat;
        background-size: var(--fui-select-bg-size);
        background-image: var(--fui-select-bg-image);
    }

    &::-ms-expand {
        display: none;
    }
}