// ==========================================================================
// Fields - Select
// ==========================================================================

.fui-select {
    &[size],
    &[multiple] {
        height: auto;

        option {
            padding: 0.1rem 0.4rem;
        }
    }

    &:not([multiple]):not([size]) {
        padding-right: 2rem;
        background-position: right 0.25rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &::-ms-expand {
        display: none;
    }
}