// ==========================================================================
// Fields - Summary
// ==========================================================================

.fui-summary-blocks {
    position: relative;
    border: var(--fui-summary-border, 1px solid var(--fui-border-color));
    padding: var(--fui-summary-padding);
    border-radius:  var(--fui-summary-border-radius, var(--fui-border-radius));
}

.fui-summary-block {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}
