// ==========================================================================
// Fields - Table
// ==========================================================================

.fui-table {
    width: var(--fui-table-width);
    margin-bottom: var(--fui-table-margin-bottom);
    border-collapse: var(--fui-table-border-collapse);

    th {
        text-align: var(--fui-table-th-text-align);
        font-size: var(--fui-table-th-font-size);
        font-weight: var(--fui-table-th-font-weight);
        color: var(--fui-table-th-color, var(--fui-gray-500));
    }

    th,
    td {
        padding: var(--fui-table-row-padding);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.fui-table [data-col-remove] {
    width: 1px;
}

.fui-table-add-btn {
    position: relative;
    padding-left: var(--fui-table-add-btn-padding-left);

    &::after {
        content: '';
        position: absolute;
        top: var(--fui-table-add-btn-top);
        left: var(--fui-table-add-btn-left);
        width: var(--fui-table-add-btn-width);
        height: var(--fui-table-add-btn-height);
        display: block;
        background-repeat: no-repeat;
        background-image: var(--fui-table-add-btn-bg-image);
    }
}

.fui-table-remove-btn {
    position: relative;
    border-radius: var(--fui-table-remove-btn-border-radius);
    height: 0;
    width: 0;
    padding: var(--fui-table-remove-btn-padding);
    text-indent: var(--fui-table-remove-btn-text-indent);
    border: var(--fui-table-remove-btn-border, 1px solid var(--fui-border-color));

    &::after {
        content: '';
        position: absolute;
        top: var(--fui-table-remove-btn-top);
        left: var(--fui-table-remove-btn-left);
        width: var(--fui-table-remove-btn-width);
        height: var(--fui-table-remove-btn-height);
        transform: var(--fui-table-remove-btn-transform);
        display: block;
        background-repeat: no-repeat;
        background-image: var(--fui-table-remove-btn-bg-image);
    }
}