@import 'intl-tel-input/build/css/intlTelInput.css';

// Target both for front-end and CP
.fui-field[data-field-type="phone"] {
    .iti {
        // --iti-path-flags-1x: url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.2.1/build/img/flags.webp');
        // --iti-path-flags-2x: url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.2.1/build/img/flags@2x.webp');
        // --iti-path-globe-1x: url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.2.1/build/img/globe.webp');
        // --iti-path-globe-2x: url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.2.1/build/img/globe@2x.webp');

        // Update to be full-width
        display: block;

        // Inherit font styles from Formie inputs
        font-size: var(--fui-input-font-size);
        line-height: var(--fui-input-line-height);
    }

    // Missing padding for search container
    .iti__search-input {
        padding: 5px 7px;
    }

    // Higher max-height for more options
    .iti--inline-dropdown .iti__country-list {
        max-height: 18rem;
    }

    // Tighter vertical height for items
    .iti__country {
        padding: 5px var(--iti-spacer-horizontal);
    }
}
