// ==========================================================================
// Stripe
// ==========================================================================

.fui-stripe-elements-wrapper {
    position: relative;
    min-height: 9rem;
}

.fui-stripe-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #fff;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7e848e;
    padding: 2rem;
    margin: 0 !important;
    font-size: 0.9rem;
    text-align: center;
    border: var(--fui-input-border, 1px solid var(--fui-border-color)) !important;
    border-radius: var(--fui-input-border-radius, var(--fui-border-radius));

    .fui-loading {
        margin-bottom: 0.5rem;
    }

    &.fui-hidden {
        display: none !important;
    }
}

.fui-stripe-elements {
    padding: 0.1rem;
}