$tags-border-color: #DADADA !default;
$tags-hover-border-color: #CCC !default;
$tags-focus-border-color: #3595f6 !default;
$tagMargin: 5px !default;
$tag-pad: 0 0.5em !default;
$tag-text-color: black !default;
$tag-text-color--edit: black !default;
$tag-bg: #E5E5E5 !default;
$tag-hover: #D3E2E2 !default;
$tag-remove: #D39494 !default;
$tag-remove-btn-bg: none !default;
$tag-remove-btn-bg--hover: darken($tag-remove, 8) !default;
$tag-invalid-color: $tag-remove !default;
$tag-invalid-bg: rgba($tag-remove, .5) !default;
$tag-inset-shadow-size: 1.1em !default;
$placeholder-color: $tag-text-color !default;

@import '~@yaireo/tagify/src/tagify';

.fui-input.tagify {
    display: flex;
    padding: 0;
}

.tagify__input::before {
    height: auto;
    line-height: inherit;
}
