{% set html %}
    {% set inputId = handle | namespaceInputId(options.id) %}
    {% set selected = field.getFieldValue(value, handle, handle) %}
    {% set placeholder = attribute(field, "#{handle}Placeholder") | t %}
    {% set errorMessage = attribute(field, "#{handle}ErrorMessage") | t %}
    {% set required = field.required ? field.required : attribute(field, "#{handle}Required") %}

    {% set labelPosition = craft.formie.getLabelPosition(field, form, true) %}
    {% set labelOptions = {
        field: null,
        id: inputId,
        required: required,
        fieldName: attribute(field, "#{handle}Label") | t,
        labelPosition: labelPosition,
    } %}

    <div class="fui-input-container">
        {% hook 'formie.subfield.field-start' %}

        {{ formieInclude('_includes/label', labelOptions | merge({ position: 'above' })) }}

        {% hook 'formie.subfield.input-before' %}

        <div class="fui-input-container">
            {% hook 'formie.subfield.input-start' %}

            {% switch handle %}
            {% case 'prefix' %}
                {% set attributes = {
                    id: inputId,
                    class: [ 'fui-select' ],
                    name: handle | namespaceInputName(field.handle),
                    autocomplete: autocomplete,
                    required: required,
                    data: {
                        'fui-message': errorMessage,
                    },
                    aria: {
                        required: required ? 'true' : 'false',
                    },
                } %}

                <select {{ attr(attributes) }}>
                    {% if placeholder %}
                        <option value="" disabled {{- not selected ? ' selected' }}>{{ placeholder }}</option>
                    {% endif %}

                    {% for prefix in field.prefixOptions %}
                        <option value="{{ prefix.value }}" {{- prefix.value == selected ? ' selected' }}>
                            {{ prefix.label | t }}
                        </option>
                    {% endfor %}
                </select>
            {% default %}
                {% set attributes = {
                    type: 'text',
                    id: inputId,
                    class: [ 'fui-input' ],
                    name: handle | namespaceInputName(field.handle),
                    placeholder: placeholder,
                    autocomplete: autocomplete,
                    required: required,
                    value: selected,
                    data: {
                        'fui-message': errorMessage,
                    },
                    aria: {
                        required: required ? 'true' : 'false',
                    },
                } %}

                <input {{ attr(attributes) }} />
            {% endswitch %}

            {% hook 'formie.subfield.input-end' %}
        </div>

        {% hook 'formie.subfield.input-after' %}

        {{ formieInclude('_includes/label', labelOptions | merge({ position: 'below' })) }}

        {% hook 'formie.subfield.field-end' %}
    </div>
{% endset %}

{% set attributes = {
    class: [
        'fui-field',
        'fui-name-field',
        "fui-name-#{handle | kebab}",
        "fui-label-#{labelPosition}",
        handle != 'prefix' ? 'fui-text-input-field' : 'fui-select-field',
    ],
    html: html,
} %}

{{ tag(options.renderOptions.fieldTag ?? 'div', attributes) }}
