// ==========================================================================
// Framework - Instance
// ==========================================================================

.fui-i {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 16px;
    color: $gray-800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;

    *, :after, :before {
        box-sizing: border-box;
        border: 0 solid $border-color;
    }
}


// ==========================================================================
// Framework - Buttons
// ==========================================================================

.fui-btn {
    // Resets
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0;
    appearance: none;
    color-adjust: exact;
    background-color: #efefef;

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-style: none;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: $border-radius;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        text-decoration: none;
        background-color: darken(#efefef, 5%);
    }

    &.disabled,
    &:disabled {
        opacity: 0.65;
        pointer-events: none;
    }

    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}


// ==========================================================================
// Framework - Loading
// ==========================================================================

.fui-loading {
    position: relative;
    pointer-events: none;
    color: transparent !important;
    min-height: 1rem;

    &::after {
        position: absolute;
        display: block;
        height: 1rem;
        width: 1rem;
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        border-width: 2px;
        border-style: solid;
        border-radius: 9999px;
        border-color: $primary-color;
        animation: loading 0.5s infinite linear;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        left: 50%;
        top: calc(50% - 3px);
        z-index: 1;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0)
    } 100% {
        transform: rotate(360deg)
    }
}


// ==========================================================================
// Framework - Alerts
// ==========================================================================

.fui-alert {
    padding: 1rem;
    border-radius: $border-radius;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.fui-alert-error {
    background-color: #fdf2f2;
    color: #9b1c1c;
}

.fui-alert-success {
    background-color: #f3faf7;
    color: #03543f;
}
