{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Publishable Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'publishableKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.publishableKey ?? '',
    warning: macros.configWarning('publishableKey', 'formie'),
    errors: integration.getErrors('publishableKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Secret Key' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'secretKey',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.secretKey ?? '',
    warning: macros.configWarning('secretKey', 'formie'),
    errors: integration.getErrors('secretKey'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Merchant ID' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'merchantId',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.merchantId ?? '',
    warning: macros.configWarning('merchantId', 'formie'),
    errors: integration.getErrors('merchantId'),
}) }}

{% endblock %}