{% extends 'formie/_layouts/settings' %}

{% set title = 'Defaults' | t('formie') %}
{% set bodyClass = 'formie-defaults-page' %}
{% set fullPageForm = true %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save' | t('formie') }}">
{% endblock %}

{% block content %}

{{ actionInput('formie/settings/save-defaults') }}
{{ redirectInput('formie/settings/defaults') }}
<input type="hidden" name="settings" id="formie-defaults-settings" value="{{ defaultsSettingsPayload|e('html_attr') }}">

<div class="formie-defaults"></div>

{% endblock %}

{% css %}
.formie-defaults-page #content {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
{% endcss %}
