{% for colId, col in field.columns %}
    {% set rowId = 'row-' ~ index ~ '-' ~ colId %}

    {% switch col.type %}
        {% case 'checkbox' %}
            <td data-col="{{ colId }}">
                <input
                    type="hidden"
                    aria-checked="false"
                    aria-hidden="true"
                    name="{{ index ~ '[' ~ colId ~ ']' }}"
                    value=""
                >

                <div class="fui-checkbox">
                    <input {{ attr({
                        id: rowId,
                        type: 'checkbox',
                        class: [
                            'fui-input',
                            'fui-checkbox-input',
                        ],
                        value: '1',
                        checked: (row[colId] ?? false) ? true : false,
                        name: index ~ '[' ~ colId ~ ']',
                    }) }}>

                    <label for="{{ rowId }}" class="fui-checkbox-label">
                        &nbsp;<span class="fui-sr-only">{{ col.heading }}</span>
                    </label>
                </div>
            </td>
        {% case 'color' %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'color',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>
            </td>
        {% case 'date' %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'date',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }} />
            </td>
        {% case 'select' %}
            <td data-col="{{ colId }}">
                <select class="fui-select" name="{{ index ~ '[' ~ colId ~ ']' }}">
                    {% for option in col.options %}
                        <option value="{{ option.value }}" {{ option.value == (row[colId] ?? '') ? 'selected' }}>{{ option.label }}</option>
                    {% endfor %}
                </select>
            </td>
        {% case 'email' %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'email',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>
            </td>
        {% case 'heading' %}
            <th data-col="{{ colId }}">
                <input type="hidden" name="{{ index ~ '[' ~ colId ~ ']' }}" value="{{ row[colId] ?? '' }}">
                {{ row[colId] ?? '' }}
            </th>
        {% case 'multiline' %}
            <td data-col="{{ colId }}">
                <textarea {{ attr({
                    id: rowId,
                    class: 'fui-input',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>{{ row[colId] ?? '' }}</textarea>
            </td>
        {% case 'number' %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'number',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>
            </td>
        {% case 'time' %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'time',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>
            </td>
        {% case 'url' %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'url',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>
            </td>
        {% default %}
            <td data-col="{{ colId }}">
                <input {{ attr({
                    id: rowId,
                    type: 'text',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: index ~ '[' ~ colId ~ ']',
                }) }}>
            </td>
    {% endswitch %}
{% endfor %}
