{% for colId, col in field.columns %}
    {% set index = index ?? 0 %}
    {% set rowId = "row-#{index}-#{colId}" %}

    {% fieldtag 'fieldTableBodyColumn' %}
        {% switch col.type %}
            {% case 'checkbox' %}
                {{ hiddenInput(field.getHtmlName("#{index}[#{colId}]"), '') }}

                <div class="fui-checkbox">
                    {{ tag('input', {
                        id: rowId,
                        type: 'checkbox',
                        class: 'fui-input fui-checkbox-input',
                        value: '1',
                        checked: (row[colId] ?? false) ? true : false,
                        name: field.getHtmlName("#{index}[#{colId}]"),
                    }) }}

                    <label for="{{ rowId }}" class="fui-checkbox-label">
                        &nbsp;<span class="fui-sr-only">{{ col.heading | t('formie') }}</span>
                    </label>
                </div>
            {% case 'color' %}
                {{ tag('input', {
                    id: rowId,
                    type: 'color',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                }) }}
            {% case 'date' %}
                {{ tag('input', {
                    id: rowId,
                    type: 'date',
                    class: 'fui-input',
                    value: row[colId].format('Y-m-d') ?? '',
                    name: field.getHtmlName("#{index}[#{colId}][date]"),
                }) }}
            {% case 'select' %}
                {% tag 'select' with {
                    class: 'fui-select',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                } %}
                    {% for option in col.options %}
                        <option value="{{ option.value }}" {{ option.value == (row[colId] ?? '') ? 'selected' }}>
                            {{ option.label | t('formie') }}
                        </option>
                    {% endfor %}
                {% endtag %}
            {% case 'email' %}
                {{ tag('input', {
                    id: rowId,
                    type: 'email',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                }) }}
            {% case 'heading' %}
                {{ tag('input', {
                    type: 'hidden',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                    value: row[colId] ?? '',
                }) }}
                {{ row[colId] ?? '' }}
            {% case 'multiline' %}
                {{ tag('textarea', {
                    id: rowId,
                    class: 'fui-input',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                    text: row[colId] ?? '',
                }) }}
            {% case 'number' %}
                {{ tag('input', {
                    id: rowId,
                    type: 'number',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                }) }}
            {% case 'time' %}
                {{ tag('input', {
                    id: rowId,
                    type: 'time',
                    class: 'fui-input',
                    value: row[colId].format('H:i') ?? '',
                    name: field.getHtmlName("#{index}[#{colId}][time]"),
                }) }}
            {% case 'url' %}
                {{ tag('input', {
                    id: rowId,
                    type: 'url',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                }) }}
            {% default %}
                {{ tag('input', {
                    id: rowId,
                    type: 'text',
                    class: 'fui-input',
                    value: row[colId] ?? '',
                    name: field.getHtmlName("#{index}[#{colId}]"),
                }) }}
        {% endswitch %}
    {% endfieldtag %}
{% endfor %}

{% if not field.static %}
    <td data-col-remove>
        {{ fieldtag('fieldRemoveButton') }}
    </td>
{% endif %}
