{% if form.settings.displayPageProgress and form.hasMultiplePages %}
    {% set pageIndex = form.getCurrentPageIndex() + 1 %}
    {% set progress = (pageIndex / form.pages | length) * 100 | round %}

    {% set attributes = {
        style: 'width: ' ~ progress ~ '%',
        class: 'fui-progress-bar',
        role: 'progressbar',
        aria: {
            valuenow: progress,
            valuemin: 0,
            valuemax: 100,
        }
    } %}

    <div class="fui-progress-container">
        <div class="fui-progress">
            <div {{ attr(attributes) }}>
                <span class="fui-progress-value">{{ progress | round }}%</span>
            </div>
        </div>
    </div>
{% endif %}
