{% set id = field.getHtmlId(form) %}
{% set dataId = field.getHtmlDataId(form) %}
{% set labelId = "#{id}-label" %}
{% set labelPosition = craft.formie.getLabelPosition(field, form) %}
{% set subfieldLabelPosition = craft.formie.getLabelPosition(field, form, true) %}
{% set instructionsPosition = craft.formie.getInstructionsPosition(field, form) %}

{% set inputOptions = {
    id: id,
    dataId: dataId,
    labelId: labelId,
    field: field,
    renderOptions: options,
} %}

{% set value = field.getFieldValue(element) %}
{% set errors = element.getErrors(field.handle) ?? null %}

{% set html %}
    {% hook 'formie.field.field-before' %}

    <div class="fui-field-container">
        {% if field.renderLabel %}
            {% hook 'formie.field.field-start' %}

            {{ formieInclude('_includes/label', { position: 'above' }) }}

            {{ formieInclude('_includes/instructions', { position: 'above' }) }}

            {% hook 'formie.field.input-before' %}

            <div class="fui-input-container">
                {% hook 'formie.field.input-start' %}

                {{ field.getFrontEndInputHtml(form, value, inputOptions) }}

                {% hook 'formie.field.input-end' %}
            </div>

            {% hook 'formie.field.input-after' %}

            {{ formieInclude('_includes/instructions', { position: 'below' }) }}

            {{ formieInclude('_includes/label', { position: 'below' }) }}

            {% if errors %}
                {{ formieInclude('_includes/errors') }}
            {% endif %}

            {% hook 'formie.field.field-end' %}
        {% else %}
            {% hook 'formie.field.field-start' %}

            <div class="fui-input-container">
                {% hook 'formie.field.input-start' %}

                {{ field.getFrontEndInputHtml(form, value, inputOptions) }}

                {% hook 'formie.field.input-end' %}
            </div>

            {% if errors %}
                {{ formieInclude('_includes/errors') }}
            {% endif %}

            {% hook 'formie.field.field-end' %}
        {% endif %}
    </div>

    {% hook 'formie.field.field-after' %}
{% endset %}

{% set fieldOptions = craft.formie.getFieldOptions(field, options) %}
{% set fieldAttributes = fieldOptions.attributes ?? {} %}
{% set containerAttributes = field.getContainerAttributes() ?? {} %}

{% set attributes = {
    id: "#{id}-wrap",
    class: [
        'fui-field',
        'fui-page-field',
        "fui-type-#{field.displayName | kebab}",
        "fui-label-#{labelPosition}",
        "fui-subfield-label-#{subfieldLabelPosition}",
        "fui-instructions-#{instructionsPosition}",
        errors ? 'fui-field-error',
        field.required ? 'fui-field-required',
        field.isSelect ? 'fui-select-field',
        field.isTextInput ? 'fui-text-input-field',
        field.cssClasses ?? '',
        field.isHidden() ? 'fui-hidden',
    ] | filter,
    data: {
        'field-config': field.getConfigJson(),
        'field-conditions': field.getConditionsJson(element),
    },
    html: html,
} | merge(fieldAttributes) | merge(containerAttributes) %}

{% namespace field.namespace %}
    {{ tag(fieldOptions.fieldTag ?? options.fieldTag ?? 'div', attributes) }}
{% endnamespace %}
