{% apply spaceless %}
    {% set showForm = form.isAvailable() %}
    {% set currentPage = form.getCurrentPage() %}
    {% set errors = submission.getErrors('form') ?? null %}

    {% set submitted = craft.formie.plugin.service.getFlash(form.getFlashNamespace(), 'submitted') %}
    {% set flashNotice = craft.formie.plugin.service.getFlash(form.getFlashNamespace(), 'notice') %}
    {% set flashError = craft.formie.plugin.service.getFlash(form.getFlashNamespace(), 'error') %}

    {{ formieInclude('form/message-unavailable') }}

    {% if submitted and form.settings.submitAction == 'message' and form.settings.submitActionFormHide %}
        {% set showForm = false %}
    {% endif %}

    {% if showForm %}
        {% formtag 'form' %}
            {{ formieInclude('form/hidden-inputs') }}
            {{ formieInclude('form/honeypot') }}

            {{ formieInclude('form/header') }}
            {{ formieInclude('form/messages-top') }}
            {{ formieInclude('form/navigation') }}
            {{ formieInclude('form/body') }}
            {{ formieInclude('form/footer') }}
            {{ formieInclude('form/messages-bottom') }}
        {% endformtag %}
    {% endif %}

    {# When the position of success message is set to bottom, but the form is hidden... #}
    {% if submission is defined and form.settings.submitAction == 'message' and form.settings.submitActionFormHide %}
        {% if flashNotice and form.settings.submitActionMessagePosition == 'bottom-form' %}
            {{ formieInclude('form/message-success') }}
        {% endif %}
    {% endif %}
{% endapply %}
