{% extends 'formie/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

<h2>{{ 'Submissions' | t('formie') }}</h2>

<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="formie/settings/save-settings">
    <input type="hidden" name="page" value="submissions">
    {{ redirectInput('formie/settings/submissions') }}
    {{ csrfInput() }}

    {% namespace 'settings' %}
        {{ forms.textField({
            first: true,
            type: 'number',
            label: 'Maximum Incomplete Submission Age' | t('formie'),
            instructions: 'The maximum age of an incomplete submission in days before it is deleted in garbage collection. Set to 0 to disable automatic deletion.' | t('formie'),
            id: 'maxIncompleteSubmissionAge',
            name: 'maxIncompleteSubmissionAge',
            value: settings.maxIncompleteSubmissionAge,
            autofocus: true,
            warning: macros.configWarning('maxIncompleteSubmissionAge', 'formie'),
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable CSRF Validation for Guests' | t('formie'),
            instructions: 'Whether to enable Craft‘s CSRF validation checks for anonymous form submissions.' | t('formie'),
            id: 'enableCsrfValidationForGuests',
            name: 'enableCsrfValidationForGuests',
            on: settings.enableCsrfValidationForGuests,
            warning: macros.configWarning('enableCsrfValidationForGuests', 'formie'),
        }) }}

        {{ forms.selectField({
            label: 'Default Submissions State' | t('formie'),
            instructions: 'Set what sorts of submissions should be shown by default when viewing submissions.' | t('formie'),
            id: 'submissionsBehaviour',
            name: 'submissionsBehaviour',
            value: settings.submissionsBehaviour,
            options: [
                { label: 'All', value: 'all' },
                { label: 'Complete', value: 'complete' },
                { label: 'Incomplete', value: 'incomplete' },
                { label: 'Spam', value: 'spam' },
            ],
            warning: macros.configWarning('submissionsBehaviour', 'formie'),
        }) }}

        {{ forms.selectField({
            label: 'Submissions Sidebar Form Order' | t('formie'),
            instructions: 'Controls how forms are listed in the left sidebar on the Submissions element index.' | t('formie'),
            id: 'submissionSidebarFormOrder',
            name: 'submissionSidebarFormOrder',
            value: settings.submissionSidebarFormOrder,
            options: [
                { label: 'Date created (newest first)' | t('formie'), value: 'dateCreatedDesc' },
                { label: 'Date created (oldest first)' | t('formie'), value: 'dateCreatedAsc' },
                { label: 'Form title (A-Z)' | t('formie'), value: 'titleAsc' },
                { label: 'Form title (Z-A)' | t('formie'), value: 'titleDesc' },
                { label: 'Form handle (A-Z)' | t('formie'), value: 'handleAsc' },
                { label: 'Form handle (Z-A)' | t('formie'), value: 'handleDesc' },
            ],
            warning: macros.configWarning('submissionSidebarFormOrder', 'formie'),
        }) }}

        {{ forms.selectField({
            label: 'Control Panel Field Conditions' | t('formie'),
            instructions: 'The default behaviour when viewing or editing submissions in the control panel for forms that do not override this setting.' | t('formie'),
            id: 'defaultCpSubmissionFieldConditions',
            name: 'defaultCpSubmissionFieldConditions',
            value: settings.defaultCpSubmissionFieldConditions,
            options: [
                { label: 'Follow field conditions' | t('formie'), value: 'follow' },
                { label: 'Follow field conditions (show hidden fields collapsed)' | t('formie'), value: 'muted' },
                { label: 'Show all fields' | t('formie'), value: 'show-all' },
            ],
            warning: macros.configWarning('defaultCpSubmissionFieldConditions', 'formie'),
        }) }}
    {% endnamespace %}

    <hr>

    <input type="submit" class="btn submit" value="{{ 'Save' | t('formie') }}">
</form>

{% endblock %}
