// ==========================================================================
// Modal
// ==========================================================================

.fui-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    transition: opacity 100ms linear, visibility 100ms 0s linear;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
    z-index: 10000;

    &.is-open {
        visibility: visible;
        transition: opacity 100ms linear, visibility 0s linear;
        opacity: 1;
    }
}

.fui-modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.fui-modal-content {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 1rem;
    width: 90%;
    height: 90%;
    max-width: 50rem;
    max-height: 40rem;
    margin: auto;
    border-radius: 4px;
}

