{% extends 'formie/_layouts/integrations/plugin-settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% block content %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Client ID' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'clientId',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.clientId ?? '',
    warning: macros.configWarning('clientId', 'formie'),
    errors: integration.getErrors('clientId'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Client Secret' | t('formie'),
    instructions: 'Enter your {name} {label} here.' | t('formie'),
    name: 'clientSecret',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.clientSecret ?? '',
    warning: macros.configWarning('clientSecret', 'formie'),
    errors: integration.getErrors('clientSecret'),
}) }}

{{ macros.proxyField(fieldVariables, 'booleanMenuField', {
    label: 'Use Developer API' | t('formie'),
    instructions: 'Whether to use the {name} developer API. Only use this for specific {name} developer accounts.' | t('formie'),
    name: 'useDeveloper',
    includeEnvVars: true,
    value: integration.settings.useDeveloper ?? false,
    warning: macros.configWarning('useDeveloper', 'formie'),
    errors: integration.getErrors('useDeveloper'),
}) }}

{{ macros.proxyField(fieldVariables, 'selectField', {
    label: 'Data Center' | t('formie'),
    instructions: 'Select your {name} {label} here.' | t('formie'),
    name: 'dataCenter',
    required: true,
    suggestEnvVars: true,
    value: integration.settings.dataCenter ?? '',
    options: [
        { label: 'US' | t('formie'), value: 'US' },
        { label: 'AU' | t('formie'), value: 'AU' },
        { label: 'EU' | t('formie'), value: 'EU' },
        { label: 'IN' | t('formie'), value: 'IN' },
        { label: 'CN' | t('formie'), value: 'CN' },
        { label: 'JP' | t('formie'), value: 'JP' },
        { label: 'CA' | t('formie'), value: 'CA' },
    ],
    warning: macros.configWarning('dataCenter', 'formie'),
    errors: integration.getErrors('dataCenter'),
}) }}

{% endblock %}